[2018-03-01 17:57] Deshiba opened #8 "Sheep ignore the woolRegrowthTimer config"
### Expected Behavior
With the standard config setting of 8000 ticks I'd expect sheep to not regrow their wool for 6 minutes 40 seconds

### Actual Behavior
When you shear sheep they regrow wool the second they eat grass like they do in vanilla

### Steps to Reproduce
*Start a fresh world
*Spawn in a bunch of sheep
*Shear the sheep
*watch them for a bit, they will regrow wool way before 30 seconds

[2018-03-04 21:31] MauveCloud opened #9 "All goat breeds can be sheared for wool"
### Expected Behavior
Angora goats shearable for wool, but other goat breeds ignore shears

### Actual Behavior
All goat breeds (alpine, angora, fainting, kiko, kinder, nigerian dwarf, and pygmy) can be sheared for white wool.

### Steps to Reproduce
1. Start a world
2. Find (or spawn in) goats of various breeds.
3. Shear them.

### Version of Minecraft, version of Animania, Single Player or Serve

[2018-03-06 07:22] Bulldog83 opened #10 "Chickens drop feathers like a crazy!"
### Version of Minecraft, version of Animania, Single Player or Server
Minecraft 1.12.2
Minecraft Forge Server 14.23.1.2608
Animania 1.4.6

Mods:
appliedenergistics2-rv5-stable-9.jar
ChinjufuMod[1.12.2]3.1.4.1.jar
CoFHCore-1.12.2-4.3.10.5-universal.jar
deepresonance-1.12-1.6.0.jar
ElecCore-1.12.2-1.8.434.jar
Futurepack+Colorization+Addon-1.0.1.jar
Futurepack-1.12.2-26.3.123.jar
mcjtylib-1.12-2.6.4

[2018-03-07 03:15] Luke616 opened #11 "[Crash] Crash when drinking milk bottle, truffle soup when AppleCore is installed"
### Expected Behavior
Milk bottle, truffle soup able to be eaten normally

### Actual Behavior
When installed alongside applecore (required library for hunger in peace, hunger overhaul) the game crashes
https://pastebin.com/Eh9VVmmz

This link may be able to help
https://github.com/squeek502/AppleCore/wiki/Integrating-food-items-with-AppleCore

### Steps to Reproduce
1- Install the latest animania

[2018-03-07 06:42] Tschipp commented on #11
Huh, iirc we’ve had this issue before, the issue was that the item stack size was decreased before the heal was applied (i think)

[2018-03-07 08:23] capnkirok commented on #11
AppleCore doesn’t like it if you access FoodStats directly. They really should provide error trapping if they’re going to implement this way. Thanks for the link!

[2018-03-07 09:07] Bulldog83 commented on #10
Config option: "# Allow Animania Chickens to drop Feathers B:chickensDropFeathers=false" don't take effect.

[2018-03-07 10:16] Deshiba commented on #10
The problem might be with another mod in your list. I'm not going to check them all.

This definately doesn't happen with just animania.

[2018-03-07 11:37] Bulldog83 commented on #10
Yes. It's not this mod... W/o Animania chickens drop feathers too. Sorry.

[2018-03-07 11:37] #10 closed

[2018-03-08 04:04] capnkirok commented on #10
Good to hear. Might want to check Terraqueous....

[2018-03-08 20:18] Luke616 opened #12 "[Compat/Enhancement] Add milking compatibility for Ceramics mod's clay buckets"
### Expected Behavior
With Ceramics mod installed, clay buckets could be used to milk cows/sheep/goats and gain the correct type of milk.

### Actual Behavior
- Ceramics buckets milk any type of cow (bulls included!) and always gives a normal milk bucket (not jersey/holstein/etc)
- Ceramics buckets can be used to milk cows infinitely without cooldown, even when they are not well fed

Not sure what

[2018-03-09 19:43] braunly opened #13 "NPE with hamster in wheel"
### Expected Behavior
Normal ejecting after some time.

### Actual Behavior
NullPointerException crash

### Steps to Reproduce
Put hamster in wheel and wait some time.

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft 1.10.2
Animania 1.4.6
Single player and Server

### Screenshots encouraged

### Traceback
[code]

[2018-03-10 02:01] laserlemons opened #14 "Milk bottles are not craftable and crash the game when clicked in the vanilla recipe book."
### Expected Behavior
Craft the milk bottle and not crash

### Actual Behavior
No recipe for milk bottles and crash when clicking the recipe in the vanilla crafting book.

### Steps to Reproduce
I used Quark's feature to unlock every recipe, and when I click the milk bottle recipe in the crafting table it crashes.

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2, 1.4.

[2018-03-10 09:24] AsylumQoQ opened #15 "Hamsterwheel entity tile causes game + multiplayer server to crash immediately"
### Expected Behavior
Load game and start up server normally

### Actual Behavior
Game and server crash when using the mod Animania

### Steps to Reproduce
I open my Minecraft launcher en start the game, I immediately get a crash report.
Server starts up and closes after 2 seconds.

### Version of Minecraft, version of Animania, Single Player or Server
1.10.2
1.10.2
Singleplayer and Server
(Reason

[2018-03-10 19:12] glindsey opened #16 "[Feature Request] Register wool with Forge Ore Dictionary"
I recently suggested to the authors of Forestry that they support Animania wool types in their recipes (https://github.com/ForestryMC/ForestryMC/issues/1974); they did so, and also noted that Forge doesn't automatically register a `blockWool` type in the dictionary. They recommended that Animania registers it, and then adds the various wools to the dictionary for ease of future compatibility... so

[2018-03-10 19:13] glindsey commented on #16
aaaand I just saw that they referenced it themselves. I have GOT to start searching the issues list first. >_<

[2018-03-10 19:13] #16 closed

[2018-03-11 10:59] Tschipp commented on #11
I can't even join the world with AppleCore installed...

[2018-03-11 15:19] braunly commented on #13
[code]
@capnkirok, seriously?

[2018-03-11 16:29] Tschipp commented on #13
What is this? @braunly

[2018-03-11 18:13] laserlemons opened #17 "[Suggestion] Add config option to disable food in dungeon chests."
In my modpack it doesn't make much sense to find a bunch of cooked steak in dungeon chests. Would you mind adding a config option to disable it?

[2018-03-11 19:31] Tschipp commented on #17
That is definitely not from us, what other mods are you using?

[2018-03-11 19:35] laserlemons commented on #17
Oh, weird! I'll do more testing and see if I can figure out which mod is doing it. All the dungeon chests are full of an assortment of Animania foods so this is the first mod I suspected.

[2018-03-11 21:42] laserlemons commented on #17
I found it! My apologies, it turned out to be Hunger Overhaul. In their config they have an option to include Harvestcraft food in dungeon chests and it looks like it does it for this mod too.

[2018-03-11 21:42] #17 closed

[2018-03-12 09:48] LunixNovalis opened #18 "Animals cause tons of server lag"
### Expected Behavior
Not to lag?

### Actual Behavior
Having at least 2 of each animal causes my server to have less than 13 tps after a few minutes of gameplay. I removed the animals and server tps was at 20.

### Steps to Reproduce
Have 2 or more of each animal.

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft 1.12.2
Animania 1.4.6
Server

### Screenshots encour

[2018-03-12 11:10] Tschipp commented on #18
What Animania Version are you using? What version of Minecraft is this?

[2018-03-12 11:18] LunixNovalis commented on #18
Sorry about that. Don't know why I forgot that info.

Minecraft Version 1.12.2
Animania Version 1.4.6

[2018-03-12 13:14] Tschipp commented on #18
Hmm... not sure about this. On the Animania Server we have many more Animals without any problems. How good is your server usually?

[2018-03-12 13:44] Deshiba commented on #18
I also see different dogs in the first image, what mod are those from? Are you sure those don't cause the problem?

[2018-03-12 16:24] SnackMix opened #19 "Dorper Ram Spawn Uncontrollably"
### Expected Behavior
Some Dorper Ram here and there.

### Actual Behavior
**DORPER RAM EVERYWHERE**.
They are eating grass or something and breeding uncontrollably.
There's about 200 Dorper Ram in one chunk.

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft 1.12.2, 1.4.6, Server

[2018-03-12 17:24] Tschipp commented on #19
See, this is currently *not* unintended... we are looking into a possibility to add a breeding limit, so things like this don't happen. Especially since you're playing on a server, if the animals have grass (which they mostly do) and water somewhat nearby they will breed with no limit.

[2018-03-12 18:18] LunixNovalis commented on #18
The wolves are from Sophisticated Wolves. I don't think the wolves caused too much lag, but I'll test it out again with them still there and without to see.
The server runs pretty good, although its not the best. I use a BisectHosting server with 6gb of RAM. The only people to play on it are my brother and I.

[2018-03-13 01:40] LunixNovalis commented on #18
Tested it again without the wolves. With Animania Animals it got down to 12 tps. As soon as I killed them it went back to 20 tps.
![2018-03-12_21 35 39](https://user-images.githubusercontent.com/32338780/37317911-e4dcac3a-263d-11e8-88a0-0451c0b8bd93.png)

[2018-03-13 07:19] Deshiba commented on #18
Weird, we're not having this issue on our server...

[2018-03-13 16:20] laserlemons commented on #11
Is your Java out of date maybe? I just tried it and I can load applecore and animania just fine. I do get the truffle soup crash though.

[2018-03-13 16:25] laserlemons commented on #18
Could it have something to do with the area that they're in? Maybe a pathfinding bug or something like that? We've got a server that runs on 3GB RAM and have zero lag issues with the animals.

[2018-03-14 17:12] Tschipp commented on #11
Yeah it also works for me, just not in the dev environment...

[2018-03-15 08:17] Deshiba opened #20 "Naming inconsistencies"
Currently there's some naming inconsistencies amongst animals. To summon a chicken or a cow is different.

For sanity sake it would be nice if  all entities were created equal. So if it's not a lot of work could the entities be made the same. This would result in the following compared to the examples above.

[2018-03-15 09:26] Deshiba opened #21 "Crash on hamster summon"
I get a crash of minecraft when trying to summon a hamster with a ColorNumber value of double digits, I used the following commands

This corrupts the entire world until you remove the entity with something like mcedit.
https://pastebin.com/3hxFA4ay

When I do the same thing with draft horses it works fine

====Versions====
Minecraft 1.12
Minecraft Coder Pack 9.42
Forge Mod Loader 8.0.99.99
Forge

[2018-03-15 13:19] Tschipp commented on #20
The Texas Longhorns used to just be called Longhorns. If we would rename them now, it would cause all existing longhorns and highlands to despawn. So no, I don't think that that's worth it.

[2018-03-15 13:42] Deshiba commented on #20
Fair enough

[2018-03-15 14:04] #20 closed

[2018-03-15 19:30] RoselightMoon opened #22 "Animania causes all mobs to move 'spastically'"
When I start Minecraft with Animania 1.4.6 in 1.12.2, everything starts lagging; as a player you get catapulted randomly around, graphics go crazy and all the mobs, Animania and vanilla, move very strangely...
I don't know why, and restarting and relaunching everything doesn't help.
![2018-03-15_20 26 56](https://user-images.githubusercontent.com/37418676/37486731-a76b09f6-288f-11e8-9a0d-84e91ae67

[2018-03-15 20:28] #22 closed

[2018-03-15 20:29] RoselightMoon commented on #22
Apparently it was caused by a combination of other mods, sorry for the disturbance! :)

[2018-03-16 18:39] DcNdrew opened #23 "[Feature] Sleeping animals and Item to analyse"
Hi!

I think the animals should go to sleep at night. It would be realistic and look cool.

The other thing: You said Waila and so tell you what's up with your animals. Actually I hate those cheap "I know everything about everything just by looking at it" stuffs. I don't use them. I like things to be believable. I'd like to see a tool what can tell you the age of the animals, their needs and stuff

[2018-03-16 22:16] capnkirok commented on #21
I guess I could put some error trapping in there, but there are only 9 colors...

[2018-03-16 22:24] capnkirok commented on #21
Ok, error trapping added (like horses)

[2018-03-16 22:32] capnkirok commented on #19
@lynxvm would recommend your config on the server to manual breeding... and kill off a few of the dorpers. This config option is found under Game Rules. This means you will have to feed your animals by hand to get them to breed.

We have a Spawn Limit in place.. but natural breeding can sometimes lead to huge populations, especially if they are well fed. I am debating switching the default to manu

[2018-03-17 07:35] Deshiba commented on #21
Its not a big deal, only people testing in creative would run into this 😅

[2018-03-17 08:40] capnkirok commented on #17
Hunger Overhaul pulls from OreDictionary... all of Animania meats are listed there and share  Harvestcraft's lists. Full list is here: https://github.com/capnkirok/animaniamod/blob/60b4598f0e37bedec695db110053315d3c074f4a/src/main/java/com/animania/common/handler/DictionaryHandler.java

[2018-03-17 08:45] capnkirok commented on #8
Ahhh... another gift of extending vanilla animals. Thank you for the precise description.

[2018-03-17 11:30] capnkirok commented on #15
Dupe of #13

[2018-03-17 11:30] capnkirok commented on #13
I think this is DeObf of my 1.10 code, which is currently broken on server.

[2018-03-18 11:58] EpicGoldenPig opened #24 "[Suggestion] Zebras"
Hi, I am here to request an animal - Zebras

Abilities:
- Spawn in Savanna and Grassland
- Give player 0.5 - 1 heart attack when hitting them
- Drops zebra hide
- Can be tamed same as taming horses, tamed zebra can help player carrying items like vanilla donkeys and mules, tamed zebra will not attack player
- Spawn in herd

Thanks and this is just an idea 😄

[2018-03-18 12:19] capnkirok commented on #19
Ok, I've found another option that's going to go into 1.4.7. Animals will breed on their own until their limit is reached... at which point they will stop mating. From this point, there are two ways to make more animals. You can handfeed the animals and they will breed, or you can increase your spawn limits. In practice, this works very well.

[2018-03-18 12:23] capnkirok commented on #18
Not able to reproduce your issue, so going to ask more questions:

More questions:
- What is your entity count? Can you take a screenshot with the Debug Screen visible?
- Do you happen to have any animals stuck in water (like a large lake) nearby?
- What happens if you remove your fences (as an experiment)? Does the TPS reduce?

[2018-03-18 12:32] capnkirok commented on #24
Zebras are on the list (way down there), but I really want to add them :)

[2018-03-18 15:13] Kitsufoxy opened #25 "Peafowl don't eat from Trough."
### Expected Behavior
Peafowl will eat from trough filled with seeds.

### Actual Behavior
Peafowl remain hungry despite access to a full trough.

### Steps to Reproduce
Please peafowl near full trough. Wait.

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft: Single player, 1.12.2
Animania: 1.4.6

[2018-03-18 15:15] Kitsufoxy opened #26 "Rabbits don't drink from water trough"
### Expected Behavior
Rabbits will drink from water trough.

### Actual Behavior
Rabbits ignore access to a water trough and remain thirsty.

### Steps to Reproduce
Place rabbit in pen with water trough, wait.

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft Single Player 1.12.2, Animania 1.4.6

[2018-03-18 16:15] capnkirok commented on #26
Well, it was debatable whether they should or not. Because we were going to add bowls... but still, I think it's ok for them to drink from troughs.

[2018-03-18 16:16] capnkirok commented on #23
The sleeping animals feature is on our list, and yeah, we had an idea for something like an Animal Analyzer or an Animal Tag...

[2018-03-18 16:35] capnkirok commented on #13
The problem was this line:
`this.hamster.setCustomNameTag(hamsterName);`

[2018-03-19 21:41] capnkirok commented on #11
Ok found the error. Looks like AppleCore is less forgiving about stack size than vanilla mc. Need to shrink the stack AFTER applying effects. Zero stack size results in NPE.

Fixed in next release.

[2018-03-20 06:21] Deshiba commented on #8
You are very welcome, just trying to Tschipp in. *chuckles*

[2018-03-20 15:25] EpicGoldenPig commented on #24
Can I see the list?

[2018-03-21 09:06] Deshiba opened #27 "Draft mares and stallions summon bug"
### Expected Behavior
I expect stallions and mares to float in the air like all other animals summoned with the {NoAI:1} tag.

### Actual Behavior
The stallions and mares drop from the sky, foals behave as mentioned above.

### Steps to Reproduce
Summon a stallion or mare in the air without AI

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft 1.12
Animania 1.4.6
Cra

[2018-03-21 13:36] capnkirok commented on #27
Lol. Horses.

[2018-03-22 16:26] kreezxil opened #28 "[1.12.2-1.4.6] illegal argument exception"
### Crash Report ###
https://pastebin.com/c61ReCt2

### Expected Behavior
client not to crash when planting a seed

### Actual Behavior
client crashed when planting a seed

### Steps to Reproduce
sadly it's a one-off the player has been unable to reproduce it

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft: 1.12.2-14.23.2.2631
Animania: 1.12.2-1.4.6
Mode: Multipla

[2018-03-23 08:37] #8 closed

[2018-03-23 08:37] #9 closed

[2018-03-23 08:37] #11 closed

[2018-03-23 08:37] #12 closed

[2018-03-23 08:37] #13 closed

[2018-03-23 08:37] #14 closed

[2018-03-23 08:37] #15 closed

[2018-03-23 08:37] #19 closed

[2018-03-23 08:37] #21 closed

[2018-03-23 08:37] #28 closed

[2018-03-23 16:46] MauveCloud opened #29 "[Feature Request] Options to actually replace vanilla animals instead of removing them"
Checking in Animania 1.4.7, the options "replaceVanillaChickens", "replaceVanillaCows", etc. say in their descriptions that they actually _remove_ the mentioned animals.  However, there are a few situations, such as Millenaire farms (see https://gitlab.com/Millenaire/Public/issues/70 ), where it would be helpful to have them be replaced instead.  Could we please get this added, either as separate

[2018-03-24 04:50] Kippenkomeet opened #31 "pls make it in Dutch languege"
### Expected Behavior

### Actual Behavior

### Steps to Reproduce

### Version of Minecraft, version of Animania, Single Player or Server

### Screenshots encouraged

[2018-03-24 07:45] Deshiba commented on #31
There is a Dutch .lang file...

[2018-03-24 15:46] MauveCloud commented on #31
I think something went wrong with the Dutch .lang file.  I don't understand Dutch myself, but look at https://github.com/capnkirok/animania/blob/master/nl_NL.lang and compare with https://github.com/capnkirok/animaniamod/blob/1.12/src/main/resources/assets/animania/lang/nl_NL.lang

[2018-03-24 17:12] Kippenkomeet commented on #31
how to instal?

[2018-03-26 02:11] TehNut commented on #28
Am I good to close this on my side then?

[2018-03-26 13:30] capnkirok commented on #28
Yes @TehNut you can close. Thanks again for the assist.

[2018-03-26 13:36] capnkirok commented on #31
I’ll have to fix it in the next update..

[2018-03-26 15:12] Deshiba commented on #31
I'll see if I can update the langfile before then (its outdated)

[2018-03-28 13:37] Tschipp opened #32 "[1.12] Chickens not reading NBT properly after Interaction w/Carry On"
When chickens are picked up with CarryOn and placed down again, they become thirsty. Something about the readNBT is wrong.
From https://github.com/Tschipp/CarryOn/issues/89

[2018-04-03 07:49] capnkirok commented on #31
@Deshiba I removed the HTML garabage that was in there and replaced with the latest file I had, but still needs updating:
https://github.com/capnkirok/animaniamod/blob/1.12/src/main/resources/assets/animania/lang/nl_NL.lang

[2018-04-04 01:09] wolfgangrumpf opened #33 "Cheese Mold/Milk Entity causes server to fail to launch"
Hey, using the latest 1.12 Forge and had everything working great. Then on the latest system maintenance, the server wouldn't start up again, and it appears to have something to do with animania and cheese molds, or maybe milk? Here's the crash report

---- Minecraft Crash Report ----

WARNING: coremods are present:
AppleCore (AppleCore-mc1.12.2-3.1.0.jar)
Inventory Tweaks Coremod (InventoryTweaks

[2018-04-05 20:51] laserlemons opened #34 "[1.12] Some goats seem to have infinite milk."
### Expected Behavior
I'd assume you aren't supposed to be able to get infinite buckets of milk one after another.

### Actual Behavior
Right-clicking some goats give infinite milk.

### Steps to Reproduce
For me, I found two goats in the wild that I could milk infinitely. Both were Angora goats. I don't know if they gave birth in the wild or not, but not all Angora goats did it, only two that I f

[2018-04-05 21:01] laserlemons opened #35 "Truffle Soup gives regeneration effect when potion effects are disabled in config."
### Expected Behavior
Regeneration effect should be disabled. It does not show up in the tooltip but it still gives it to you when you eat it.

### Actual Behavior
Truffle soup gives regeneration 2 when eaten.

### Steps to Reproduce
Disable potion effects in the config and then eat truffle soup.

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft 1.12.2, Animania 1.4

[2018-04-05 22:10] laserlemons opened #36 "[Suggestion] Configurable potion effects on food."
I like the idea of Animania foods giving special effects since they take more effort to create than vanilla foods, however, it's hard to keep this feature enabled in a survival-based modpack because some of the effects are very powerful make a lot of potions fairly useless. It'd be nice to be able to configure the effects that each food provides, or at least have an option in the config for milder

[2018-04-05 23:57] laserlemons commented on #34
After testing more, it looks like all female Angora goats are giving me infinite milk as long as they don't have the unhappy particles.

[2018-04-06 15:46] capnkirok commented on #35
Thanks @laserlemons good catch.

[2018-04-06 15:50] capnkirok commented on #35
Only on 1.11 & 1.12, Fixed in next release (1.4.8)

[2018-04-06 16:16] capnkirok commented on #34
Looks like it's all goats. I fixed a shearing bug that is now causing this.

[2018-04-06 17:02] capnkirok commented on #34
Yup. Typo. Fixed in next release. Only a problem on 1.12.

[2018-04-06 17:40] capnkirok commented on #32
Bug was here... one of those WTF was I thinking when I wrote this code moments:
![image](https://user-images.githubusercontent.com/9628379/38435595-6215cf90-39d2-11e8-8d06-c1856aeb2a99.png)

[2018-04-06 17:47] capnkirok commented on #29
Well, there are two variables that control this:

replaceVanillaCows under GameRules actually removes them (hence the text). I would rename the variables, but then it would throw modpacks etc. off. May do it anyway.

spawnAnimaniaCows under Spawn actually puts the Animania cows int he world.

I used to replace the animals, but this one of the root causes of Over Spawning Armageddon... MC keeps try

[2018-04-06 17:52] MauveCloud commented on #29
Really?  I thought since most of your animals extend the classes of vanilla animals they'd still count towards the passive-mob quota.

[2018-04-07 22:32] HurtsAsHell opened #37 "Infinite chest"
### Steps to Reproduce
place wagon and broke it

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2, 1.4.7, sp

[2018-04-08 07:02] capnkirok commented on #37
This one has been in here so long. Thanks! Fixed in next release.

[2018-04-12 11:07] Tschipp commented on #29
The problem is, that if Millenaire spawns a EntityCow, and those are replaced with animania, it won’t spawn a EntityAnimaniaCow, even though that one extends EntityCow.

[2018-04-12 21:30] laserlemons opened #38 "[Suggestion] Hens 'assign' themselves to nests"
If hens assigned themselves to a nest it would prevent un-even crowding around one nest in chicken coops. The hens could also not wander too far from their nest and maybe even sit in it all night, similar to villagers in their houses at night. This would make a cool dynamic similar to real life, allowing chickens to wander around un-fenced during the day while still going inside the coop to lay eg

[2018-04-12 21:42] Fortist opened #39 "Calf (Friesian) falls through the floor (And other Phasing)"
I made a custom skyblock.
I had a few calves and they'd disappear after a while, so, after watching some closely it seems that at a certain age they'd sink into the floor. Most of the time they die, but one I picked up (Carry on) and placed back down, ran around a bit and sank into the floor again.
What I noticed is the age thing, and they'd usually graze the grass before sinking. Probably do more

[2018-04-13 07:35] Fortist commented on #39
Seems like every calf does it at a certain age.

[2018-04-14 07:42] Ommetaphilliac opened #40 "Invisible Animals"
### Expected Behavior
Visible animals

### Actual Behavior
All animals are invisible, when spawn egg is used I hear the animal but it is invisible.

### Steps to Reproduce
Created multiple worlds with same result.

### Version of Minecraft, version of Animania, Single Player or Server

12.2

### Screenshots encouraged

[2018-04-14 10:05] capnkirok commented on #40
Hey @Ommetaphilliac

Some questions back:
- Which version of Animania are you using?
- Which spawn eggs... Vanilla or Animana, and which animal?
- Are you on Server or Client
- Can you send me a screenshot of your world? (so I can see how many animals you have)

PC

[2018-04-14 10:08] capnkirok commented on #39
Thanks for that. It's either related to the transition to adulthood (technically they die and are replaced by an adult), or because they increase in size and somehow are shifting down.

What 'material' is your floor made of? Can you share exact block? Screenshot of your setup would be great, too.

[2018-04-14 15:52] Fortist commented on #39
Honestly it's just a bunch of cobblestone, I thought they would just phase through one layer, but it seems they keep going to suffocate.
https://i.imgur.com/qV1yoLa.png

In my testworld, which is quartz on layered wool, all the calves spawned in sunk into the ground and suffocated, after falling down another block.

[2018-04-14 19:37] Deshiba commented on #39
I tested this on a voidworld with just animania, they don't glitch trough the block as of yet. I let it run for 5 hours and it still hasn't happened.

[2018-04-15 17:59] RaliaTheWolf opened #41 "Opal Peahen Has Taupe Peahen Texture"
**Expected Behavior**
Purple peahens have the purple peahen texture

**Actual Behavior**
Purple peahens have the taupe peahen texture

**Steps to Reproduce**
Spawn a purple peahen

**Version of Minecraft, version of Animania, Single Player or Server**
MC version 1.12.2; Animania version 1.4.7; Singleplayer

[2018-04-17 01:50] tterrag1098 opened #42 "Memory leak in ModelTrough"
### Expected Behavior
ModelTrough should not be creating a new `ModelRenderer` every frame

### Actual Behavior
It does, here: https://github.com/capnkirok/animaniamod/blob/1.12/src/main/java/com/animania/client/models/ModelTrough.java#L195

This causes ModelBase#boxList to balloon in size and memory usage:
![](https://cdn.discordapp.com/attachments/333684705373454346/435615091199836160/unknown.pn

[2018-04-17 03:38] RaliaTheWolf commented on #41
Okay so I just realized that there are two Animania GitHubs? This one called animaniamod and the other one just called animania... For future reference, which one should I post things to? I didn’t even realize that I clicked on this one until after I made the report... XD

[2018-04-17 13:15] capnkirok commented on #42
Oh my god, 7 likes on one issue before I even read it. And not only did you clearly explain the issue, you also provided the exact line in the code where the problem occurs. Thank you!

Here I was testing the Tile Entity, thinking the memory leak was there.

Yes, this was implemented incorrectly. Will update asap. (FYI, @Tschipp)

[2018-04-17 21:52] capnkirok commented on #42
Ok, this is fixed in dev. Will push in a couple of days after I scoop up a few more. Thanks!

[2018-04-18 20:29] capnkirok commented on #41
This one is the correct one now :)

[2018-04-18 20:42] capnkirok commented on #41
Hmmm... I think your description is wrong. You say the Opal is Taupe, but then description mentions purple.

However, when I look at them in game, they are all different, though Opal is similar to Taupe.

![2017-09-23_19 22 18](https://user-images.githubusercontent.com/9628379/38957066-d154973e-4359-11e8-8886-2b3c83372ea7.png)

[2018-04-19 14:58] Tschipp commented on #42
heh

[2018-04-19 18:06] Fortist commented on #39
Probably some mod shenanigans, Ill figure it out later I guess.

[2018-04-19 18:06] #39 closed

[2018-04-21 02:38] RaliaTheWolf commented on #41
Ah okay! I’ll post here from now on then!

Oh I might have thought they were the same... Hold on let me spawn some really quick ^^;

[2018-04-21 02:40] RaliaTheWolf commented on #41
Oh that’s embarrassing... I guess I thought the Opal was a bit more colorful... XD Sorry bout that!

[2018-04-21 02:40] #41 closed

[2018-04-21 23:16] #31 closed

[2018-04-21 23:16] #32 closed

[2018-04-21 23:16] #34 closed

[2018-04-21 23:16] #35 closed

[2018-04-21 23:16] #37 closed

[2018-04-21 23:16] #42 closed

[2018-04-21 23:17] #40 closed

[2018-04-22 03:06] #36 closed

[2018-04-22 08:58] Ash70 opened #44 "[Suggestion] Proper milk bottles"
I noticed that animania does add all the different milks as liquids (e.g. <liquid:milk_jersey>) but there is only one milk bottle (containing a generic milk?).
The problem I am running into is when storing the milk in a container (from other mods, like barrels or tanks) I cannot get them out of said container straight into a bottle.

[2018-04-23 15:55] MauveCloud opened #45 "Animania 1.4.8 for 1.12.2 shows update prompt to 1.4.8"
### Expected Behavior
Animania 1.4.8 suppresses update prompt (at least until 1.4.9 is available)

### Actual Behavior
Animania 1.4.8 shows update prompt (to 1.4.8!)
Opening the Forge mod list, the top text lines of the description are:
[code]

### Steps to Reproduce
1. Install Animania 1.4.8
2. Launch Minecraft.
3. Open a world.

### Version of Minecraft, version of Animania, Single Player or Ser

[2018-04-23 17:25] capnkirok commented on #45
Gah. Yeah, unfortunately, need to update the jar.

[2018-04-23 17:27] capnkirok commented on #45
I'm just going to change my checker for now.

[2018-04-23 17:35] #45 closed

[2018-04-24 02:37] AvaThePotato opened #46 "Help Me"
### Expected Behavior
My Minecraft is supposed to open to the main screen with single player and all that stuff.

### Actual Behavior
My Minecraft launches but then it says that i need forge 13.20.1.2386 or above. I have Craft API installed for 1.11.2 too.

### Steps to Reproduce
??

### Version of Minecraft, version of Animania, Single Player or Server
1.11.2 , 1.11.2 , single player

### Screens

[2018-04-24 08:40] Deshiba commented on #46
The message that you need a higher forge version is pretty clear I would reckon.
Please update your forge version http://www.minecraftforge.net/forum/topic/12628-updating-forge-modded-minecraft-easiest-way/

[2018-04-25 09:39] Ash70 opened #47 "Crafttweaker oddity"
MC: 1.12.3
Forge: 2673
Crafttweaker: 4.1.8
Animania: 1.4.8

This works:
`recipes.addShapeless(<minecraft:wool:0>, [<animania:wool:1>, <ore:dyeWhite>]);`
But this does not:
`recipes.addShapeless(<minecraft:wool:0>, [<animania:wool:*>, <ore:dyeWhite>]);`
Not sure if this is on your end or Crafttweakers' (using the wildcard on other ingredients does work, so I am suspecting the wool)

[2018-04-25 10:56] alxcool opened #48 "[Solved] Polar bear spawn rate is low by default. allowed mob spawn section."
### Expected Behavior
Find or encounter all the modded mobs from a custom list of mods in single player.

### Actual Behavior
Chicken spawning and sheep spawning sometime is prevented by something that I don't know yet. PrimalCore is missing some mobs, the bears and alligators... As tested, brown and black bear could be loaded in the same world than one with Animania, but animania seems to prevent

[2018-04-25 15:36] alxcool commented on #48
I'v made a few more test and its impossible for me to advance this theory.  Either primal bear spawn is too rare, only 1 out of 2 biome found as match (Ice mountain). Either I should create an Issue on their page. I hope I did not mistaken your mod if it is not the one causing this issue, sorry for that.

[2018-04-26 01:38] SirChamomile opened #49 "Mod compatibility issue/Mobs don't spawn on transparent blocks"
### Expected Behavior
Mobs spawn, and when they do it's at the intended rate.

### Actual Behavior
Mobs do not spawn while mods are loaded that add biomes during the ` preInit` phase, as Animania queries the biome dictionary before other mods can register biomes do the dictionary. There is a specific line in Animania that addresses this but it only calls out certain mods. Renaming the mod to Zanim

[2018-04-27 14:45] darthvader45 commented on #29
Maybe it needs to be implemented on Millenaire's side, so that it can check if Animania is installed, and if so, use a separate method that spawns Animania animals in the farms.

[2018-04-28 06:50] MauveCloud opened #50 "[Feature Request] Dimension blacklist for Animania spawning"
### Expected Behavior
Animania animals should not spawn in other dimensions by default (especially when stabilized in the overworld so that returning to existing chunks isn't causing new animals to spawn), or at least there should be a way to stop them from doing so without stopping them from spawning in the overworld.

### Actual Behavior
I have a farm in the overworld with Animania cows and one

[2018-04-28 09:06] Deshiba commented on #50
Hmm, shouldn't this be impossible since the animals are white listed for each biome?

[code]
Since the biome "Hell" Isn't one of the biome listed in the spawn probabilities, animals spawning there should not happen. Are you perhaps using a mod that adds more biomes to the nether? Could you open the F3 screen to show what biome this is happening in?

[2018-04-28 16:51] Deshiba commented on #50
Hmm, well I'll let the devs give their thoughts on this one. I don't think a dimensional blacklist is the way to go as there's mods like RFTools that generate random dimensions with (I believe) random Id's within the dimension registry. That would be impossible to blacklist from animania's end.

Hold for Purp or Tschipp though, as they actually do code and stuff.

[2018-04-28 21:13] capnkirok commented on #50
Wow @MauveCloud you are right. It's those 'Dry' tagged biome spawn entires. I see a Nigerian Dwarf, Merino Sheep, and a Jack Rabbit. That's hilarious. This is a bug. I know how to to fix it too :)

[2018-04-29 14:04] MauveCloud commented on #29
@capnkirok I'm willing to set up a Merge Request for Millenaire to handle it on that side, but I could use a little help.  See edit to previous comment.

[2018-04-29 23:57] alxcool commented on #48
Solved. I'm not sure how,but I've used to set all the ReplaceVanilla"__" as "false", in the game rule section. I've also updated Primalcore to V.48. If I could help by testing some trigger in soloplayer, to make sure this issue is closed, feel free to ask!

[2018-04-30 01:39] polartwins opened #51 "Animals congregating in corners"
### Expected Behavior
Animals wandering around their pens, staying inside of pens.

### Actual Behavior
Animals keep pushing into corners; I've noticed this mostly in cows and pigs. They keep pushing into a corner and have actually managed to kill a few piglets but sticking them there and when they aged up, they suffocated in the wall.
They also keep escaping and I haven't actually witnessed an an

[2018-05-01 03:55] kevinmd88 commented on #50
I would like to +1 this request. I use a mod called JustEnoughDimensions to create just basic worlds for my server's players to travel around and explore, independent of each other. They all have predefined IDs that I am able to specify, of course.

I also make use of this feature to copy in single-player worlds that my friends would like to add in to the mix, and there are some instances where I

[2018-05-06 22:47] Sunconure11 opened #52 "[FEATURE REQUEST] Thaumcraft aspects on content from this mod"
Now that Thauimcraft is on 1.12.2, would it be possible to add aspects onto content from this mod into it?

[2018-05-08 00:51] ThorneWyvern opened #53 "Can't Mount Draft Horse?"
Put a saddle on my—happy as far as I can tell—draft horse, right clicked and nothing. Tried holding the riding crop and empty handed: left click, right click, and shift-right click. Also tried it before putting a saddle on.

Got pretty frustrated trying to find information on how to mount, as the wiki just says "use riding crop" which doesn't tell me what button to press and contradicts the saddle

[2018-05-10 13:53] flyingovertherainbow opened #54 "Animals refuse to jump into the horse cart..."
In the overview it says that if you lead an animal to the back of a horse cart, it will jump in. I've tried, but they refuse. Instead, they walk under the horse cart, or beside. I'm playing the 1.12.2 version single player. Is there any way I can do this, or is there any chance that you'll fix it?

[2018-05-12 16:18] njtxus opened #55 "animals get suck in a "finding food loop" and starve"
### Expected Behavior

### Actual Behavior
Periodically animals stay in place and starve to death. Moving with a lead and letting go the animal  walks back to the same spot it left and starves. I loaded up hungry animals for the mob scanner and it verified that they were stuck in a loop eating food.

### Steps to Reproduce
Seems to be random

### Version of Minecraft, version of Animania, Single P

[2018-05-14 06:47] Deshiba opened #56 "Cheese mold does not accept vanilla milk"
It would be fantastic if you could use regular milk in a cheese mold to make a cheese wheel.
Currently right clicking a vanilla milk bucket on a cheese mold does show the use animation but does nothing.

![2018-05-14_08 39 18](https://user-images.githubusercontent.com/10565800/39981876-c73ca266-5752-11e8-9d5c-621563c6d56e.png)

This would allow for better support when the config option replaceVani

[2018-05-14 08:02] Deshiba opened #57 "Roast prime steak should be Cooked prime steak"
### Expected Behavior
For roast prime steak to be called cooked prime steak like all the other cooked steaks.

### Actual Behavior
Roast prime steak differs from the cooked prime steak of the Angus, Hereford and Longhorn type.

### Version of Minecraft, version of Animania, Single Player or Server
MC 1.12.2
Animania 1.4.8

### Screenshots encouraged
![2018-05-14_10 01 18](https://user-images.githu

[2018-05-14 08:44] Deshiba opened #58 "[Feature request] more carving knife meats"
I'd like to suggest expanding the range of meats created trough the carving knife.
* Chicken (any) -> 2 Chicken Legs (any) || 2 Chicken Breast (any)
* Rabbit -> 3 Rabbit Loins
* Mutton -> 8 Mutton ribs
* Chevon -> 8 Chevon ribs
* Horse -> 4 Horse steak

Numbers and meat parts could be different, this was just an example.

[2018-05-15 20:02] desagas commented on #51
I spent an hour looking for two angus cows, and when I found a bull and a calf, I was happy, thinking one would grow into a cow. But, sadly, when it grew one stage, it glitched into the wall, and suffocated. Sad times. Did you find a vanilla way to keep them contained with out dying like this? The pack I am playing on has conveyors, but that is an unsightly pain to building pens out of.

[2018-05-17 01:24] desagas opened #59 "Angus Do Not Breed without Intervention"
### Expected Behavior
Angus cows bread without intervention. As in, without being fed by hand or trough. I do not know if this is intended, but Highland cows breed with just being "Well fed" in green. Meaning, Angus cows in the wild should breed on their own, getting food from grass, and water from lakes. They do this, but do not breed.

### Actual Behavior
Angus cows need to be hand fed wheat or

[2018-05-19 03:56] BlueWither opened #60 "No way to get rabbit hide"
I can't get rabbit hide to kill rabbits...
So I can't make important item of ThaumCraft.

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft 1.12.2
Animania 1.4.8
Single

[2018-05-19 06:45] Deshiba commented on #60
This has been requested before in the other repo. Way to fix is to create custom loottables, so the fix might take a while.

https://github.com/capnkirok/animania/issues/533
https://github.com/capnkirok/animania/issues/568

[2018-05-19 08:02] capnkirok commented on #60
I will add a third drop to rabbits. Seems like the easiest solution.

[2018-05-19 11:28] Sunconure11 opened #61 "[SUGGESTION] Size variances for individual animals"
In lycanites mobs, all of the mobs would have size variances, even among their own breed/species. Would it be possible to implement something similar, so that say, two chickens of the same breed aren't always the same size?

[2018-05-20 07:47] Tschipp commented on #61
I like that Idea and I think it can be implemented quite easily

[2018-05-22 15:10] Meegz0 opened #62 "Animania Cows,Sheeps, and goats not producing milk in 1.11, and 1.12.2"
### Expected Behavior
After feeding and watering the milkable animal to make it happy/get it preggers, you recieve either the vanilla milk or the animania special milk.

### Actual Behavior
nothing happens, no matter how many times you feed and water the animal. Only seems to work in 1.10.
Only way I've been able to get any sort of milk is with cooking with blockheads cow in a jar and botanias dru

[2018-05-23 08:22] capnkirok commented on #62
Let me know if it happens again.

[2018-05-23 08:22] #62 closed

[2018-05-23 09:54] capnkirok commented on #54
Investigating this one.

[2018-05-23 09:56] capnkirok commented on #51
Thanks, both, looking into this one. I have seen it too, but it's not consistent (btw, the glitching into the wall will be fixed).

[2018-05-23 18:31] AvaThePotato opened #63 "Not working. Launches then does not work."
### Expected Behavior
It is supposed to bring me to the Minecraft screen. So I can click single player or multiplayer.
### Actual Behavior

I launch my minecraft it works then it brings me to a screen and says "Animania is missing mods it depends on. Include the following mods or remove Animalia. Forge 13.20.1.2386 or above. See film-client-latest.log for technical information.
### Steps to Reprod

[2018-05-23 18:40] CasualJeremy opened #64 "Compatibility with Ice and Fire: Dragons in a whole new light!"
### Expected Behavior
- Minecraft to load or at least produce a crash report.

### Actual Behavior
- Minecraft shuts down without producing a crash report and any indication that it has crashed.

### Steps to Reproduce
*FOR 1.12.2*
- Installed Forge 1.12.2-14.23.3.2702
- Put CraftStudio-1.0.0.93-mc1.12-alpha.jar and animania-1.12.2-1.4.8 into /mods folder
- Put llibrary-1.7.11-1.12.2 and iceandfir

[2018-05-23 20:38] AvaThePotato commented on #63
ohhh okay thank you.

[2018-05-25 18:18] #63 closed

[2018-05-27 19:31] BeardStroker opened #65 "[SUGGESTION] Lures that makes certain animals more likely to spawn nearby."
After traveling far and wide for hours looking for chickens I would love to see something like this implemented. I imagine it like a block you can place a mobs favourite food into, and after some time it will rarely spawn a matching animal somewhere nearby, at the cost of a large portion of the food.

I am all for exploring to get a farm going or finding all the species, but sometimes the RNG gods

[2018-05-29 04:03] iobiarg commented on #52
yes pls, i had to put vainilla mobs againg to advance in tc6 and i hate them... i want only animalia but tc6 aspects arent there

[2018-05-30 22:06] Sunconure11 commented on #52
Why not ping the contributors of this mod? @capnkirok @Tschipp

Granted, I'm capable of it, but I'm involved in quite a few projects.

[2018-05-31 07:57] Tschipp commented on #52
Yeah I’m sure we can do that

[2018-06-03 08:52] timeherald opened #66 "Vanilla Animals Not Spawning - Even After config file edit"
### Actual Behavior
For some reason, even after editing both the server and the client config files for Animania to allow vanilla animals (i.e. B:replaceVanillaCows=false), the following animals still won't spawn in game from spawn eggs, or naturally in the wild:

 Sheep
Chickens
Cows

Pigs and horses seem to spawn fine from vanilla eggs, and they appear in the wild.

Minecraft 1.12.2
Animania 1.1

[2018-06-05 01:52] wolfgangrumpf commented on #33
Updating to the latest version fixed it in future worlds....

[2018-06-05 06:32] MauveCloud commented on #29
Okay, I figured this out on my own and set up a Merge Request for Millenaire, so I'm closing this now.

[2018-06-05 06:32] #29 closed

[2018-06-09 08:18] capnkirok commented on #29
Thank you for the follow-up. I have been super busy in my new job lately, finally starting to catch up.

[2018-06-12 06:33] #64 closed

[2018-06-15 22:11] Rsslone opened #67 "Question about Spawn Probability."
Does a higher probability number mean more spawns or less? How does it do its calculations? Is it 1/X chunks will spawn an animal?

Recommend specifying in the config comments what this means.

[2018-06-18 19:45] capnkirok commented on #61
We'd have to create some new Data Params, but yeah, can be done.

[2018-06-18 19:57] capnkirok commented on #46
Thanks @Deshiba ... closing this one

[2018-06-18 19:57] #46 closed

[2018-06-18 20:05] capnkirok commented on #66
Hmm... you might have an old config, with old entries.

On 1.12, it should be:

 B:"Remove vanilla Chickens"=false
 B:"Remove vanilla Cows"=false
 B:"Remove vanilla Horses"=false
 B:"Remove vanilla Pigs"=false
 B:"Remove vanilla Rabbits"=false
 B:"Remove vanilla Sheep"=false

Basically,  I just tested and it works fine. You can also/check use the in-game Config editor to be sure.

Couple of other

[2018-06-18 20:05] #66 closed

[2018-06-18 20:07] capnkirok commented on #57
Thanks, I like the easy ones :)

[2018-06-18 20:13] capnkirok commented on #18
I've changed pathing again so the animal must be able to path to the item or entity it is looking for, instead of getting stuck in a loop until the timer expires. There was also a bug in the Trough Render that was causing serious lag.

[2018-06-18 21:46] capnkirok commented on #59
FYI, all cows use the same breeding code.

But tested anyway. This is working as intended. Probably you are at your cow spawn limit in the area where your Angus cows are. When you are at your spawn limit, you need to hand feed. To test this, you can go into the config and raise your spawn limit and see if they breed again.

[2018-06-18 21:46] #59 closed

[2018-06-23 03:05] caiorasch opened #68 "Animania and Ice and Fire mod"
So, the mod Ice and Fire adds the creature Cockatrice that has a chance to spawn from rotten eggs, which in turn has a chance to spawn from a chicken in place of regular eggs. Since I play replacing the vanilla animals I wanted to know if there is any way for me to add a chance for Animania's chicken to lay these "rotten eggs" in the nests in place of regular ones.

[2018-06-24 15:22] LordDan1989 opened #69 "[MINOR ISSUE] Mules unobtainable with REPLACE_VANILLA_HORSES"
I have just come to the realization that Mules would be unobtainable with Animania's default Vanilla Replacement functionality. Whilst this isn't a huge deal I feel that this 'breaks' a vanilla mechanic and hope to see Mules obtainable without having to resort to having both Draft Horses and Vanilla horses available.

**Vanilla Mechanic**
Obtaining a Mule is done by crossbreeding a Horse and a Don

[2018-06-24 15:35] capnkirok commented on #69
You are correct. I can actually check if they're donkeys or mules and not remove. Can add.

[2018-06-24 17:01] capnkirok commented on #67
It uses the same calculation as vanilla MC spawn:
https://minecraft.gamepedia.com/Spawn#Mob_spawning

Basically, if the mob can spawn in a particular chunk (and time is correct, land is solid, correct biome, etc.), then it executes a probability roll to spawn.

Plains have very few limitations, that's why there's always more spawns there. Whereas jungles and oceans have very little ground area, so

[2018-06-24 17:01] #67 closed

[2018-06-24 17:02] capnkirok commented on #51
Yeah, this will be fixed in the next update. Has to do with animals being able to 'see' through walls and find an objective they cannot reach.

[2018-06-24 17:53] LordDan1989 commented on #69
Actually, I'm not sure that'd work.

Having disabled all mobs from spawning except Draft, horse, donkey and mule, I can see that Donkey's do in fact spawn. The problem is that there are no Vanilla Horses to breed with Donkeys to create Mules. Mules do not spawn naturally in Vanilla MC, they must be bred from a Donkey and a Vanilla horse.

I'm not sure how difficult, or even if it is possible to al

[2018-06-25 08:10] flyingovertherainbow commented on #54
Thank you for your answer! Right now I don't have access to my computer,
cuz I'm on vacation, but I'll test again it when I come home.

On Sun, 24 Jun 2018, 22:22 Purplicious_Cow, <notifications@github.com>
wrote:

[2018-06-26 22:40] MooniePie opened #70 "[SUGGESTION] Unique markings on every animal"
Perhaps there could be a set of markings that an animal has a certain chance of obtaining when it is spawned into the world. There may also be multiple of these unique markings on an animal, or none at all. With certain creatures, such as fowl, there is a very slim chance for them to have markings, since that is pretty rare in the real world. Markings could also be passed down from parent to child

[2018-06-28 20:57] capnkirok commented on #70
Nice suggestion. I think this goes with the genetics plan that has yet to be implemented (speed, size, strength, etc.)

[2018-06-29 10:20] zhouyu47 opened #71 "[Suggestion] Config foodValueOverrides saturation value should just be saturation, not a multiplier of hunger"
### Expected Behavior
When setting a the foodValueOverrides config, the saturation value should reflect 1:1 the actual saturation that will be used, instead of multiplying the given number by the hunger value and using that instead.

Example:
[code]
Should result in 5 hunger, 1 saturation.

### Actual Behavior
`animania:cheese_omelette(5,1)` results instead in 5 saturation, as it's taking the hung

[2018-06-30 14:13] Deshiba commented on #71
I agree

[2018-06-30 18:15] capnkirok commented on #50
Ok, this is fixed in the next release.

[2018-06-30 18:16] capnkirok commented on #55
I've refactored the Find/Eat Food (again). Should be fixed in next release.

[2018-06-30 18:20] capnkirok commented on #49
What terraingen mods are you using?

[2018-06-30 18:37] capnkirok commented on #48
Very strange. Animania doesn't touch bears. You can see that in the code:
https://github.com/capnkirok/animaniamod/blob/1.12/src/main/java/com/animania/common/events/EventReplaceSpawnAnimals.java

[2018-06-30 18:45] zhouyu47 commented on #25
Can confirm this is still true in latest release. ( Also with peahens )

[2018-06-30 18:49] capnkirok commented on #68
Unfortunately, this is not possible. However, you could add this as a secondary drop from a chicken.

[2018-06-30 18:50] capnkirok commented on #25
Yeah, just haven't added this yet.

[2018-07-01 09:45] alxcool commented on #48
Hi! Thk for the reply, this was not an easy theory to test but I will try to reproduce this issue. Do you have some tricks to find entity by type like as example if I create a new world  without any loaded mods then try to find a bear? Then reload the same world while using animania, then try to find a second one, or even create a new world to test it?
I may use nature compas for its biome locator

[2018-07-01 18:50] alxcool commented on #48
So I've changed the title as I've completed a few more tests this afternoon.
While loading a few mods I like with animania, I've created a large biome new world and have found a polar bear after 8min.
Just remember I've changed the config file, so.
I've set animania config file, every section to default value. Then I've created a new world and have found a polar bear after 8min (default world gene

[2018-07-01 18:50] #48 closed

[2018-07-01 22:07] capnkirok commented on #48
Wow, your dedication is impressive. To answer your question, YES, Minecraft has mob caps. This is probably the issue (look up https://minecraft.gamepedia.com/Spawn). Some of my mobs extend the vanilla versions. which means they would count towards the 'passive' cap that MC uses when it tries to spawn its mobs.

So, one thing you could try reduce the likelihood and the cap of Animania mobs. This wo

[2018-07-02 22:34] fullphaser opened #72 "Jeresey Cheese does not register as part of the foodCheese Ore dict"
### Expected Behavior
animania:jersey_cheese_wedge should register as part of the foodCheese ore

### Actual Behavior
It appears to be the only cheese that doesn't register in the oredictionary as part of the foodCheese ore

### Steps to Reproduce
Looking at oredict values

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft: 1.12.2
Forge: 14.23.4.2705
Animania: 1.4.8

[2018-07-07 15:14] capnkirok commented on #72
Thanks. Fixed in next release.

[2018-07-10 18:51] WingedRizon opened #73 "No animals"
### Expected Behavior
Animals Spawning

### Actual Behavior
None what so ever, spawn eggs works

### Steps to Reproduce
We added the mod into resonant rise 4

### Version of Minecraft, version of Animania, Single Player or Server
1.10.2 and the corresponding release version

### Screenshots encouraged

[2018-07-10 20:53] capnkirok commented on #73
Was it a pre-existing world?

[2018-07-13 22:32] darkshadow1809 opened #74 "Crash when putting seed on the floor for chickens."
### Expected Behavior
No crash when putting seed on the floor to feed chickens

### Actual Behavior
Crash when putting seed (at random)

### Steps to Reproduce
Put down enough seeds until it crashes.

### Version of Minecraft, version of Animania, Single Player or Server

1.12.2, Latest Animania, Client crash.
### Screenshots encouraged
(Non applicable)

https://paste.dimdev.org/ezanidufin.mccrash

[2018-07-14 02:53] BlueWither opened #75 "[Suggestion] Free mode for pets"
Tamed mobs, like hamsters and hedgehogs should have free moving mode.

[2018-07-17 18:21] Alex-the-666 opened #76 "Animania mobs auto-dismount when riding another entity, messes up inter-mod interactions"
### Expected Behavior
Animania mobs remain riding whatever mob that they mount

### Actual Behavior
Animania mobs dismount mobs they ride, sometimes only on client/server side

### Steps to Reproduce
->install Ice and Fire
-> dragon attacks animania mob which "shake" attack, animania mob jumps off dragon without being hurt
### Version of Minecraft, version of Animania, Single Player or Server
-> a

[2018-07-21 09:30] capnkirok commented on #60
added in next release

[2018-07-21 09:36] capnkirok commented on #53
Hmmm.... I am not having any issues on 1.11. You don't need riding crop anymore. Just a happy horse with a saddle. Right click to mount.

[![Screenshot from Gyazo](https://gyazo.com/b1e37dda1ea45c6873ed994d91c6cdbc/raw)](https://gyazo.com/b1e37dda1ea45c6873ed994d91c6cdbc)

[2018-07-21 10:10] capnkirok commented on #74
This looks like a forge issue, though it should have been closed. I guess I could put a try catch around this.

Similar issue posted here:
https://github.com/Glitchfiend/BiomesOPlenty/issues/763

[2018-07-21 10:36] capnkirok commented on #74
Ok, I've put in a try/catch. If WAILA fails to identify the seed, it will show as wheat seeds.

I can't replicate without duplicating your setup, so this is the next best option. Added in next release.

[2018-07-22 14:47] capnkirok commented on #47
Ok, this is fixed in the next version. It had to do with the way subblocks were registered. Also prevented Minecraft default search from working.

[2018-07-22 14:48] capnkirok commented on #54
Ok, I'm closing this one. Just let me know if you run into it again.

[2018-07-22 14:48] #54 closed

[2018-07-22 14:49] capnkirok commented on #53
Closing this one. Let me know if you still run into issues after seeing the video.

[2018-07-22 14:49] #53 closed

[2018-07-26 02:05] Eogen opened #77 "Console Spam of Keeping entity animania:<type> that already exists with UUID"
Console Spam of messages like:
[Server thread/WARN] [net.minecraft.world.WorldServer]: Keeping entity animania:hog_large_white that already exists with UUID c00e3810-86db-4991-92fd-b3ab8be819a2

### Version of Minecraft, version of Animania, Single Player or Server
MC: 1.12.2
Forge: 1.12.2-14.23.4.2705 (Heavily Modded)
Animania: 1.12.2-1.4.8
Server: CentOs Linux 3.10.0-693.5.2.el7.x86_64

Appears

[2018-07-28 01:28] mxnmnm opened #78 "Thirsty cows"
### Expected Behavior
Cows to drink water after being milked

### Actual Behavior
Cows do not drink water

### Steps to Reproduce

Milk cow after it gave birth
Try to milk later on with water sources/troughs nearby

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2
1.4.8
Singleplayer and lan world

### Screenshots encouraged

https://imgur.com/a/0SL6xaX

[2018-07-28 10:39] capnkirok commented on #78
Already noted and fixed in next release.

[2018-07-29 20:48] theDaleighChronicle opened #79 "[Suggestion] Updated Texture with more detailed shading."
Not really an issue, but I've noticed the rabbits has really nice shading, but some of the other animals, I.E. the cows, are solid colors with no detailing. Would like to see this update, and would be willing to help, but not sure how to extract the texture to edit it.

[2018-08-03 16:03] capnkirok commented on #76
Hmm.... I don't have anything special here regarding what mobs Aninania mobs ride.... except Hamsters, Ferrets, and Hedgehogs... but that's only for players. Will have to dive into this one more.

[2018-08-03 16:04] #68 closed

[2018-08-03 16:05] capnkirok commented on #73
I'm not supporting 1.10 anymore. It should work anyway, this likely has to do with a pre-existing world.

[2018-08-03 16:05] #73 closed

[2018-08-03 16:08] capnkirok commented on #23
Sleeping animals is added in next release. My god that was hard.

[2018-08-04 23:17] #47 closed

[2018-08-04 23:17] #50 closed

[2018-08-04 23:17] #51 closed

[2018-08-04 23:17] #55 closed

[2018-08-04 23:17] #57 closed

[2018-08-04 23:17] #60 closed

[2018-08-04 23:17] #72 closed

[2018-08-04 23:17] #74 closed

[2018-08-04 23:18] #78 closed

[2018-08-04 23:18] #18 closed

[2018-08-04 23:18] #26 closed

[2018-08-04 23:18] #25 closed

[2018-08-05 00:29] angelnc1989 opened #80 "Sheep run away in their sleeping pose when perceiving a threat"
### Expected Behavior
Sheep stand up and run away when a threat is near them.

### Actual Behavior
Sheep stay in their sleeping pose and run away.

### Steps to Reproduce

- set the game to nighttime
- spawn in an Animania sheep
- spawn in a wolf next to the sheep

### Version of Minecraft, version of Animania, Single Player or Server
Minecraft 1.12.2
Animania 1.5.0
Single Player

### Screenshots

[2018-08-05 03:38] BlueWither opened #82 "Crashed with animania 1.5.0"
### Expected Behavior

### Actual Behavior
---- Minecraft Crash Report ----
// Hi. I'm Minecraft, and I'm a crashaholic.

Time: 2018-08-05 12:29:55 JST
Description: Ticking entity

java.lang.ClassCastException: com.animania.common.entities.rodents.EntityHamster cannot be cast to com.animania.common.entities.rodents.EntityHedgehogBase
    at com.animania.common.entities.rodents.ai.EntityAIPanicRode

[2018-08-05 03:54] Peach774 opened #83 "New Update is running slower due to AI Tick Countdown Timer"
### Expected Behavior
Game should run better after updating

### Actual Behavior
Game runs much worse

### Steps to Reproduce
Run the game with the default tick rate of 100

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2
1.5.0
SSP and SMP and LAN

This can be fixed by increasing the tick time to 3600, 3 minutes instead of 5 seconds.

[2018-08-05 04:37] BlueWither commented on #82
Other clash log
---- Minecraft Crash Report ----
// Sorry :(

Time: 2018-08-05 12:28:25 JST
Description: Ticking entity

java.lang.ClassCastException: com.animania.common.entities.rodents.EntityHamster cannot be cast to com.animania.common.entities.rodents.EntityHedgehogBase
    at com.animania.common.entities.rodents.ai.EntityAIPanicRodents.shouldExecute(EntityAIPanicRodents.java:60)
    at net.m

[2018-08-05 04:38] mxnmnm opened #84 "Server hamster/dragon crash"
### Expected Behavior

Not crashing when hamsters panic

### Actual Behavior

Crashing when hamsters panic from ice and fire dragons

### Steps to Reproduce

spawn dragon from ice and fire and spawn hamster

### Version of Minecraft, version of Animania, Single Player or Server

1.12.2
1.5.0
Server crash

### Screenshots encouraged

https://pastebin.com/WVxNL6cn

[2018-08-05 04:54] mxnmnm commented on #84
I think a quick hotfix is needed for this...

[2018-08-05 05:46] capnkirok commented on #84
Yup, thanks.

[2018-08-05 05:49] capnkirok commented on #82
Duplicate of #84 hotfix required

[2018-08-05 05:52] capnkirok commented on #83
Well, it can't run slower due to the timer. Previous timer was set at 60. So it's something else. Can you share your modlist?

[2018-08-05 05:59] Peach774 commented on #83
I can share my mod list, but it definitely was running worse, because changing the tick rate to 3600 fixed it.
It's really late here, so the best I can do right now is link to the modpack. I'll update with an modlist tomorrow.

Here is the version where it happens: https://minecraft.curseforge.com/projects/smartcraft/files/2598177

[2018-08-05 06:00] Peach774 commented on #83
I also disabled sleep - maybe the two are related?

[2018-08-05 06:07] capnkirok commented on #80
Thanks. Fixed in next release.

[2018-08-05 06:10] capnkirok commented on #83
Could be Sleep, yes. Or something else that I added causing an issue. But performance is better on my side, so need to dig deeper.

[2018-08-05 12:22] joklbash opened #86 "Continuous server spam finding bed"
### Expected Behavior
No server spam.

### Actual Behavior
So much spam that the logs grow out of control quickly. Constant logging of:
[Server thread/INFO] [STDOUT]: [com.animania.common.entities.cows.ai.EntityAISleep:func_75250_a:53]: finding bed

### Steps to Reproduce
Updated to 1.5.1 from 1.4.8 and visited our zoo, which is full of animals.

### Version of Minecraft, version of Animania, Sing

[2018-08-05 12:51] joklbash commented on #86
Disabling sleep saved me from having to revert back to a prior version for now. With it enabled and plenty of animals in the area, the server logs were growing out of control.

[2018-08-05 13:32] capnkirok commented on #86
Thanks. Will have to hotfix this.

[2018-08-05 14:27] capnkirok commented on #86
Fixed in 1.5.1.1, along with more perf. improvements

[2018-08-05 14:27] #84 closed

[2018-08-05 14:27] capnkirok commented on #83
Hey @Peach774 try the latest version 1.5.1.1 (when it is posted)

[2018-08-05 14:27] #83 closed

[2018-08-05 14:28] #80 closed

[2018-08-05 14:28] #82 closed

[2018-08-05 16:14] capnkirok commented on #23
I'm going to close this. We have an idea for the analysis tool, I just haven't implemented. Thanks again for the suggestion.

[2018-08-05 16:14] #23 closed

[2018-08-05 16:15] #86 closed

[2018-08-06 17:51] laserlemons opened #87 "Tiller doesn't remove double-tall grass"
### Expected Behavior
Since the tiller removes tall grass it should work for double tall grass too.

### Actual Behavior
Right now the double tall grass stays planted above the tilled soil.

### Steps to Reproduce
Use tiller on grass/dirt with double tall grass planted on it.

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2, 1.5.1.1, 14.23.4.2705, single player

### S

[2018-08-06 17:53] laserlemons opened #88 "Update message present in latest version, links to older version"
### Expected Behavior
It shouldn't give you a message if you're using the latest version.

### Actual Behavior
It says "Animania version 1.5.0 is available" on login.

### Steps to Reproduce
Log into world.

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2, 1.5.1.1, 14.23.4.2705, single player

### Screenshots encouraged

[2018-08-06 18:44] capnkirok commented on #88
Fixed!

[2018-08-06 18:44] #88 closed

[2018-08-06 18:44] capnkirok commented on #87
Yeah, will fix. Thanks!

[2018-08-12 23:37] DryTaste opened #89 "Can't roast raw peacock"
### Expected Behavior
Raw peacock can be cooked in a furnace.

### Actual Behavior
Raw peacock can't be cooked in a furnace.

### Steps to Reproduce
Put raw peacock in a furnace with some coal.

### Version of Minecraft, version of Animania, Single Player or Server
MC 1.12.2 FORGE 2749
Animania 1.5.1.1
Multiplayer

[2018-08-15 06:38] mallrat208 opened #90 "Allow Horse-like Entities to pull Prop Entities"
This isn't really a bug but a feature request. The Mod is working exactly as it should.

It would be useful for mod compatibility if the three prop entities that support EntityHorse as a beast of burden were to instead check for AbstractHorse. That would allow Mules and Donkeys to also be able to be used as well as any other mod entity based off of AbstractHorse.

Alternatively if this isn't possi

[2018-08-15 10:51] mallrat208 commented on #90
I'm apparently an idiot, this already works.

I'm going to go ahead and clear this because I've clearly missed something.

[2018-08-15 10:51] #90 closed, assigned to nobody

[2018-08-15 17:38] TheRealDadbeard opened #91 "Server crash after someone tried to catch an cute hedgehog with an golden lasso from extra utilities"
Animania 1.5.1.1
Minecraft 1.12.2
Forge 2750

Crashlog: https://pastebin.com/dh6B1H8d

[2018-08-15 17:58] capnkirok commented on #91
Ahhh, yes. A non-entity entity. Gotta love those. Will need to adjust for compat.

[2018-08-15 19:48] croxiin opened #92 "No Horse Cart/Covered Wagon"
Everything is current (1.12.2)
There's not even a wheel, and I'm just wondering if it's a bug, or if they were removed and I just can't find where it says they have been. I just need to gather some animals for a farm and riding a horse with a cart and an animal seems faster than leading an animal and my horse back to the farm, especially since the lead will break if the animal gets stuck or lags t

[2018-08-15 20:34] capnkirok commented on #92
There is a config for removing these items. Is that possilbe that "Disable cart and wagon is set to false?"

[2018-08-16 00:33] croxiin commented on #92
My apologies, it turns out every mod except Animania was updated. I had the 1.12.1 version, which does not have the horse cart and covered wagon.

[2018-08-16 07:32] #92 closed, assigned to nobody

[2018-08-19 09:07] capnkirok commented on #89
Thanks for the report. These are added in the next release.

[2018-08-19 17:52] Dyonovan opened #93 "Crash when hitting a hedgehog with Tinkers Hatchet"
### Expected Behavior
Not Crash

### Actual Behavior
Crashed

### Steps to Reproduce

### Version of Minecraft, version of Animania, Single Player or Server
MC: 1.12.2
Forge: 14.23.4.2751
Animania - 1.5.1.1
Server

### Screenshots encouraged

Crasglog: https://pastebin.com/8ngY0aEw

[2018-08-20 08:20] capnkirok commented on #93
Yes, will need to issue a hotfix. Until then, avoid killing Hedgehogs.

[2018-08-20 08:21] capnkirok commented on #91
Actually this is a straight-up bug. Need to do a hotfix. Also see #93

[2018-08-22 01:57] Partonetrain opened #94 "Suggestion: config for "actual" spawn eggs"
Some mods (like [Thermal Expansion](https://github.com/CoFH/Feedback/issues/1176)) determine what entities are non-boss mobs by getting what entities have a valid (vanilla) spawn egg. Since Animania has custom spawn eggs, all Animania mobs are not seen by Thermal Expansion.

I suspect you could just register the egg and not show it in the creative inventory, if the option is enabled.

[2018-08-22 22:45] Lordician opened #95 "Strange wagon pulling behavior"
### Expected Behavior
1. Not being able to pull multiple carts/wagons at once.
2. Not being able to link carts/wagons.
3. Combination of 1 and 2 not being able to be done, linking carts/wagons to others that already have one linked to them.
### Actual Behavior
You can do all of those things, which can look very glitchy and might not be intended.
Aside of that, if you stop pulling a cart with multi

[2018-08-23 08:56] capnkirok commented on #95
Yeah, that's a bug. Thanks for the detailed description and examples.

[2018-08-24 12:37] capnkirok opened #96 "Alternate recipe for Straw needed"
Alternate recipe for Straw needed to avoid conflicts.

----

New recipe will be: Carving Knife + Wheat = Straw

[2018-08-24 12:44] capnkirok commented on #76
@Alex-the-666 I was not able to reproduce this (but I will do some more testing). But I'm guessing it's my custom AI.

I can put in exceptions in my AI to check for IsRiding(). Will report back.

[2018-08-25 07:08] CmmmmmmLau opened #97 "Where is the "Growth Ticker Timer"?"
### I can't find the Growth Ticker Timer in the animania.cfg

[2018-08-25 10:51] capnkirok commented on #97
Ticks before next incremental growth
        I:childGrowthTick=200

Higher number = longer to grow

[2018-08-25 10:51] #97 closed, assigned to nobody

[2018-08-25 12:39] qq512065439 commented on #97
thx!

[2018-08-25 12:39] CmmmmmmLau commented on #97
thx!

[2018-08-26 19:22] beeshroom opened #98 "[Suggestion] Dyeing sheep"
I know this mod's based on realistic farming of animals, but it'd be really great if dyeable sheep, even if only one breed of ewe was capable of being dyed, made it into this mod someday.

[2018-08-27 06:58] Deshiba commented on #98
Hmm, Purp confirmed that dyable sheep were going to be added in https://github.com/capnkirok/animania/issues/351.

But 1.4 release has come and gone and this isn't in afaik.

[2018-08-27 08:04] capnkirok commented on #98
You are right, I let this slip. Let's keep this up as a reminder.

[2018-08-27 08:14] capnkirok commented on #75
What do you mean by free moving mode? Can you add a description?

[2018-08-27 09:34] Deshiba commented on #75
Currently there are 2 options.
 1. Sit & Stay
 2. Follow the player.

There is no option to have the pet roam without it teleporting to the player. It would be fabulous to have an option where they Roam & Stay. This way we can have our little ferret pets roam our premise without it constantly falling off the ledge we are building.

[2018-08-27 12:59] capnkirok commented on #75
Actually.... I made an update in 1.5:
- Tamed animals no longer teleport to you (configurable, default is off).

Basically, they follow you around if you are nearby, but if you go outside of the radius (which is 144 blocks... kind of high, now that I think about it).

I can make the distance configurable, or even turn completely off. Let me know...

Code, for reference:
https://github.com/capnkiro

[2018-08-28 04:12] notfood opened #99 "Animals starve in their sleep"
### Expected Behavior
Animals should wake up and seek food/water if they're dying.

### Actual Behavior
Even though the animal has water and food nearby in a through or any they will go to sleep and starve to death.

### Steps to Reproduce
Put food/water through, the animal and wait...

### Version of Minecraft, version of Animania, Single Player or Server
[code]
Dedicated server

### Screenshots

[2018-08-28 07:02] capnkirok commented on #99
Hmm.... I was pretty sure I disabled starving during sleep. Will check again, thanks.

[2018-08-29 10:27] Tschipp commented on #94
It’s not smart to determine what entities are bosses based on if they have a spawnegg or not. By that logic, arrows, potions, minecarts, falling sand and many more would be considered bosses (unless you make exceptions for everything).

The reason the morbs don’t work, is that TE needs to get the mob colors (from the spawnegg) to determine the colors of the morb. Our animals also have registered c

[2018-08-30 16:14] SlayerTheChikken opened #102 "Severe Multiplayer-LAN connection issue."
### Expected Behavior
Being able to join a lan or local multiplayer server from a different PC.

### Actual Behavior
Player is able to join and is then kicked after a minute. During this minute no actions do anything.
LocalHost connection works fine.

### Steps to Reproduce
Add Animania and host in a server, connect via another PC locally. Possibly does same thing via Singleplayer-LAN.

### Versio

[2018-08-31 01:26] kreezxil opened #103 "1.5.1.1 Crashed dedicated server"
### Expected Behavior
not crash

### Actual Behavior
crash while encountering a hedgehog

### Steps to Reproduce
find a hedgehog

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2, 1.5.1.1, Server

### server crash report
http://paste.ubuntu.com/p/Ny4S8sktTz/

[2018-08-31 01:59] Corosauce opened #104 "Peacocks and potentially all other animals that sleep causing crazy high tps lag"
### Expected Behavior

Consistent tick time

### Actual Behavior

TPS lag spikes, high mean tick time, skipped ticks.

### Steps to Reproduce

Have a decent amount of peacocks loaded, in our case there were 24 instances.
Probably requires testing at night

### Version of Minecraft, version of Animania, Single Player or Server

animania-1.12.2-1.5.1.1.jar
dedicated server with 4 cores, 3.2ghz

###

[2018-08-31 05:52] capnkirok commented on #104
Thanks Coro for the clear description and suggestions! I've been thinking about caching lately, so thanks for the code sample.

Looks like another round of optimization is in order.

[2018-08-31 05:54] capnkirok commented on #102
Thanks, @Slayer5934 ... it's probably connected to the recent reports about lag.

Of course, I have the same problem just plain vanilla on my LAN, so I'll need to find a way to test.

[2018-08-31 05:56] capnkirok commented on #103
Yes, sadly, this is a known issue, see #91 and #93 recommend you don't attack the hedgehogs in the meantime.

[2018-08-31 14:51] SlayerTheChikken commented on #102
Try direct ethernet if you can, no chance for error there since its literally connected through cable, a cheap router/switch would also work.

[2018-09-01 15:21] Partonetrain commented on #94
Makes sense. The part about non-boss entities is probably misinformation on my part. I could’ve sworn I read it on the CoFH wiki...

Not that it matters. I’m glad you are considering the solution.

[2018-09-02 16:43] capnkirok commented on #104
Ok, will update this entry with the latest findings:
- All animals use the same Sleep algorithm. So that means all animals are affected. However, that doesn't explain why Peacocks tweaked out here, while other animals behaved. There may be something else insidious lurking in my code.
- Tested with Nallar's Tick Profiler on a Test Server.. using hundreds of Peacocks... saw zero degradation in TPS.

[2018-09-03 23:28] Not-February opened #105 "Hedgehog on shoulder messes up visuals of in-world enchantment glint on held items"
### Expected Behavior

For the enchanted glint on held items to appear normally while a hedgehog(possibly other shoulder-inhabiting critters) is currently on your shoulder.

### Actual Behavior

While a hedgehog/shoulder critter is on your shoulder, any item you're holding in your main or offhand that has the enchanted glint fails to hide the bounds of the enchant glint that goes beyond the item,

[2018-09-04 06:25] Deshiba commented on #105
Thanks for the feedback. The issue has been posted before. Sadly still no fix.

https://github.com/capnkirok/animania/issues/585

[2018-09-04 11:32] Xorbah opened #106 "Mob IDs for Animania"
Using the latest version for 1.12.2

I can't find what IDs are associated with the mobs from this mod, the spawn eggs don't show them and i'm trying to adjust the spawns using the Bad Mobs mod which requires the proper mob ID.

[2018-09-04 17:56] Deshiba commented on #106
I did some work on journeymap compat. To summon animals I used the following commands.

/summon animania:chick_leghorn
/summon animania:rooster_leghorn
/summon animania:hen_leghorn

The mob ID is probably the same?

[2018-09-05 06:20] Not-February commented on #105
Oh dear. :( Didn't see that when I searched, probably because I searched specifically for "hedgehog" in the issues. Oops.

[2018-09-05 08:32] Deshiba commented on #105
That's not a problem. The issue is in the other repo for animania (there's still 2 for some reason).
It's also a good bump for the issue ;)

[2018-09-05 09:35] capnkirok commented on #105
I did try to fix this some time back and failed. Will give it a go again (maybe peek at the vanilla parrot code)...

[2018-09-05 19:21] Alessandro404 opened #107 "[Suggestion] Config for limiting milk to only vanilla milk"
I'm using this mod with the mod "food funk", that makes food rot over time.

The problem is, Animania put a lot of other types of milk as placeable fluids. While cool, this completely bypass food funk functionality, as there isn't (as I know of) a way to store a tag within a fluid (the mod uses a tag for checking rot time).

As it stand, it would be very useful a config to remove every milk fluid

[2018-09-06 01:18] Corosauce commented on #104
Hmmm yeah I wouldn't be surprised if it required special conditions to make them keep scanning for beds, maybe if I trapped a bunch somewhere, might play around with it when I focus on our WIP server more.

[2018-09-06 08:21] mser7 commented on #87
What about fern and double fern blocks?

[2018-09-06 19:30] Tschipp commented on #106
As @Deshiba said, those are the only mob IDs that exist. Numerical IDs don't exist since like 1.6. To find out the mob IDs, type "/summon animania:" and press tab to cycle through all available options.

[2018-09-06 19:30] #106 closed, assigned to nobody

[2018-09-07 12:54] Tschipp commented on #107
Unfortunately, due to the way the cheese mold is written, it requires an actual liquid to make cheese. Since vanilla milk isn't a real liquid, this would need major rewriting of the cheese mold.
Therefore, I probably won't implement this suggestion, sorry.

[2018-09-07 12:54] #107 closed, assigned to Tschipp

[2018-09-07 12:55] Tschipp commented on #94
While we won't support vanilla spawn eggs, we now will support Morbs in the next release.

[2018-09-07 13:15] Tschipp commented on #56
Won't be done, at least for now, see reason in #107

[2018-09-07 13:15] #56 closed

[2018-09-07 19:55] capnkirok commented on #56
Hey @Tschipp maybe you can add an error message for people who try to use regular milk and provide some guidance?

[2018-09-08 00:01] SlayerTheChikken commented on #102
Any update on the issue? Pretty serious problem, I offer my services if you need help. I can test and such.

[2018-09-08 12:46] Tschipp commented on #56
ok will do

[2018-09-08 12:54] capnkirok commented on #102
I did test this last week @Slayer5934 and had no problems. Can you try two things for me? Try turning off 'Sleep' and also put it in Ambient mode (both options found in the config). Let me know if it works then.

[2018-09-08 19:18] SlayerTheChikken commented on #102
Will try this thanks

[2018-09-10 10:18] AveryCorvus commented on #104
Just to chip in:

On my own server, I've been hunting down TPS loss sources for weeks using TickProfiler.

Occasionally, I'll find an Animania entity, usually a chicken-based one, with a huuuge tick time, an order of magnitude greater than the next-neediest entity. When I teleport to it, I find that it's usually a chick stuck between a wall and a fence, or a chicken that's fallen into a 2-block pi

[2018-09-17 15:17] Deshiba commented on #33
@capnkirok Last update was June with the message that it's fixed? I think you need some closure 😅.

[2018-09-17 20:34] #33 closed

[2018-09-18 10:42] ShuzzDE opened #108 "German translations not working in 1.5.1.1"
### Expected Behavior
All texts should be german (or at least most of them)

### Actual Behavior
English text is displayed in HWYLA and everywhere else

### Steps to Reproduce
Just install the mod and change language of Minecraft to "Deutsch (Deutschland)"

### Version of Minecraft, version of Animania, Single Player or Server
MC 1.12.2 / Animania 1.5.1.1 / SSP

I noticed that the keys in the .lan

[2018-09-18 11:11] capnkirok commented on #108
Hey ShuzzDE, German hasn't been updated since the original (I just checked). If you have time, would you like to contribute?

You can find the files here:
https://github.com/capnkirok/animaniamod/tree/1.12/src/main/resources/assets/animania/lang

You can get the English keys from the EN_en file. Let me know if you can help :)

PC

[2018-09-18 11:12] capnkirok commented on #102
Any luck? I tested LAN again here on a completely new network and didn't have any issues. Just out of curiosity, what version of Forge are you on?

[2018-09-19 08:25] ShuzzDE commented on #108
Hi!
I actually translated the file already. However, I'm not entirely sure that I got every single animal's name right. Some of the animal breeds do have individual german names, others do not and since I'm not really into animal farming it was... difficult to find translations.

Nevertheless, I think it would be a good start.
Should I just put the file in a pull request?

[2018-09-19 09:09] kandivia opened #109 "Frozen Baby Zombies"
### Unexpected Behavior
Baby Zombies have a chance when spawning into the world to become "frozen".
Affected Baby Zombies have the following traits:
-Have no functioning AI
-Can't be pushed/moved by the player (pistons can push them though)
-Can be hit once before being unable to be hit ever again
-Still counts to the mob count (affects mob spawner spawning)
-Disappears on world reload

### Steps

[2018-09-19 09:57] Deshiba commented on #109
Animania doesn't mess with hostile mobs as far as I know. Do you have any other mods in use?

[2018-09-19 10:18] kandivia commented on #109
Tested it with only:
animania-1.12.2-1.5.1.1
CraftStudio-1.0.0.93-mc1.12-alpha
on Forge 14.23.4.2705
I found it while playing a private modpack of my own, but trimmed the issue to this with testing.

[2018-09-26 14:36] capnkirok commented on #109
Thanks for the report. There is a 'mob-riding' option in the config, which allows for baby zombies to ride animania chickens. My guess is the chickens are de-spawning and the zombie AI is confused (or only working server side). Will take a closer look.

In the meantime, you can turn this option off in the config (allowMobRiding = false)

[2018-09-26 14:37] capnkirok commented on #108
Pull request would be great! Thank you! I may ask for a review from one of my German friends.

[2018-09-29 17:02] LEWeee opened #110 "Possible integration with Roost"
I have found this mod called Roost, and it allows you to collect eggs and breed chickens, which in my opinion fits quite nicely with the Animania theme, and it has very nice textures too.

However, the mod doesn't really seem to be compatible with Animania. The only real integration on my part was that it turned the Animania chickens into the chicken items.

I tried contacting the creator of the m

[2018-10-01 14:07] Tschipp commented on #99
Fixed in next release

[2018-10-01 14:09] Tschipp commented on #76
Found it while working on #99. Fixed in next release

[2018-10-01 22:21] SlayerTheChikken commented on #102
I wont be able to help till atleast the end of this month, i have lots going on unfortunately

[2018-10-03 12:22] kuroyure opened #111 "Some breeds don't spawn"
### Expected Behavior
Be able to find other variants of peacock, ferrets and frogs are nowhere to be Found and hedgehogs are realy rare, If still spawning

### Actual Behavior
The Animals quoted above seem to not spawn frequently If spawning at all, the peacock breeds i Found até limited to blue, white and charcoal and they don't drop any meat

### Steps to Reproduce
Im currently using this modpac

[2018-10-03 12:27] Deshiba commented on #111
When looking at the files on CF: https://minecraft.curseforge.com/projects/terra-bestia/files/2622247 I see that you have a lot of animal spawning mods or mods that happen to spawn more mobs. Also there's a couple of terrain gen mods or mods that happen to generate structures in it as well.

It wouldn't surprise me if it's another compatibility issue with it working fine with just Animania and BoP

[2018-10-03 12:30] kuroyure commented on #111
Yeah but i tested without some and of those animal spawning mods and It happens to work same way, now about the peacocks idk what can cause that

[2018-10-03 12:30] kuroyure commented on #111
Also how structures affect It ?

[2018-10-03 14:40] Tschipp commented on #111
All animals are spawning. if there is space in the passive mob limit. If you have many mods that add mobs, they all increase the passive mob cap and don't allow more mobs to spawn.

[2018-10-03 14:58] Tschipp commented on #27
@capnkirok This:
[code]

In onLivingUpdate. Dunno why it's there so I remvoed it.

[2018-10-03 15:01] capnkirok commented on #27
There's a reason for this.... has to do with the custom AI being fired while you are riding an Animania horse. But I should have handled this in the AI and not here.

[2018-10-03 15:02] Tschipp commented on #49
Will close this if I don't hear back in two weeks.

[2018-10-03 15:05] capnkirok commented on #49
I remember looking into this and realizing this is part of Minecraft spawn code. It specifically excludes transparent blocks. I mean, we could override it, but there are reasons.

[2018-10-03 15:09] Tschipp commented on #77
Does this still happen? Otherwise I'm going to close this

[2018-10-03 15:10] Tschipp commented on #49
Yeah I was thinking exactly the same thing, but I'm not sure that's what OP means

[2018-10-03 15:12] Deshiba commented on #27
I can finally complete my photo booth next patch!
No more horse rain?!

YES!!!!

[2018-10-03 15:13] Tschipp opened #112 "Suggestion: one male animal for breeding multiple females?"
_From @Guinaro on March 19, 2017 20:49_

Can a mechanic be implemented to have one male around several females with which he can breed.
I haven't tested yet if this is the case (still gathering all my mods for my modpack), but seems logical.
All extra males can be raised for food purposes I suppose. (Don't give milk, eggs, ...)
Extending that maybe male animals of the same species (cow, chicken, s

[2018-10-03 15:13] Tschipp commented on #112
_From @capnkirok on March 19, 2017 21:10_

This is an interesting idea, but it would change our 'mating' mechanic a bit since they work in pairs. But it's more true to the real world, so worth consideration. Thanks for the input.

[2018-10-03 15:13] Tschipp commented on #112
_From @capnkirok on April 27, 2017 17:54_

I can make this a config option. Have to mess with the mating mechanic, but not top priority at the moment. Will get there eventually.

[2018-10-03 15:13] Tschipp commented on #112
_From @19nrussell on April 28, 2017 3:8_

I mostly only know about cows but a bull can breed multiple depending on his age and the time he is with him .

[2018-10-03 15:13] Tschipp commented on #112
_From @Jomik on June 7, 2017 13:43_

I second this. I think you usually only keep one rooster for a bunch of hen as well. Bulls for cows. Stallions can also handle multiple mares.

[2018-10-03 15:13] Tschipp commented on #112
_From @capnkirok on June 8, 2017 21:2_

Thanks for the input, guys.

[2018-10-03 15:13] Tschipp commented on #112
_From @aelfwyne on June 12, 2017 5:28_

In real life livestock and barnyard animal raising, it is normal practice to have a single male, generally chosen for the best genetics.

The "mating mechanic" of this mod is actually unrealistic, not sure why it has to remain the way it is.

[2018-10-03 15:13] Tschipp commented on #112
_From @19nrussell on June 12, 2017 5:32_

Animals still like to be paired but not All the time with the male  they like to be with their calf and or another female normally only at male when in heat  and when they calf they normally want to go where they are hidden and normally I really don't think male is with them

[2018-10-03 15:13] Tschipp commented on #112
@aelfwyne While it is more realistic, it's not really a 'nice' aspect of animal breeding. So here we think it's a nicer game mechanic to let the breeding happen naturally, instead of having to manually inject sperm into cows.

[2018-10-03 15:13] Tschipp commented on #112
_From @Jomik on June 12, 2017 8:34_

@Tschipp Well, that depends on how modern you want it to be, I guess.
I don't see that @aelfwyne wrote anything about inseminating the female animals. Simply that one male should be able to mate with multiple females, as that is more realistic in general. And also "nicer" in my opinion 👍

[2018-10-03 15:13] Tschipp commented on #112
@Jomik you may be right, I may have misread it... it was just the first thing that came to mind when I read "chosen for the best genetics", which implies that the player does the breeding manually.

[2018-10-03 15:13] Tschipp commented on #112
_From @Jomik on June 12, 2017 10:37_

@Tschipp Hmm, I guess you can see it that way. I just read it that you slaughtered all bulls that didn't have good genetics, and then left the one that had the best with your cows 😄
Either way. Could you make in an option? So that the male animals can be set to mate with multiple females? I guess you could make an option that is something like "Male fertility

[2018-10-03 15:13] Tschipp commented on #112
@Jovik Well, I've already seen male cows mate with multiple females, so that might already be in.

[2018-10-03 15:13] Tschipp commented on #112
_From @Jomik on June 12, 2017 11:24_

@Tschipp That might very well be the case! I mean, I do get multiple chicks and calves even though I only have 1 male of each. So I guess all is working as this issue wants.

So it's more of a clarification if this is what you want the mod to do :)

[2018-10-03 15:13] Tschipp commented on #112
"It's not a bug, it's a feature"

[2018-10-03 15:13] Tschipp commented on #112
_From @capnkirok on July 23, 2017 22:44_

We will change this in 1.3

[2018-10-03 15:13] Tschipp commented on #112
_From @Deshiba on September 24, 2017 22:11_

Hey, we're on 1.3.3 atm. Is this still in the pipeline or did I miss it in the patch notes?

[2018-10-03 15:13] Tschipp commented on #112
_From @capnkirok on September 25, 2017 6:28_

Didn't make it in. Last minute debate at Animania HQ. It will go in, through, probably as a config option. Thanks for the bump.

[2018-10-03 15:15] Tschipp opened #113 "Book of Fauna"
_From @Deshiba on April 24, 2017 8:12_

It would be nice to add a book of life/fauna with fixed pages that uncover when you discover. A book that tracks the different animals and species you've found and gets filled with information the more you find out about that animal. Think bits and bobs of info like favorite food, habitat, special drops.

This would promote exploration for the adventurers an

[2018-10-03 15:15] Tschipp commented on #113
I like this idea, kind of like the lexica botania. I'm not sure how much work it would be though @capnkirok

[2018-10-03 15:15] Tschipp commented on #113
_From @capnkirok on April 25, 2017 4:59_

@Deshiba this is great idea! It would add a nice new dimension to the mod. It's not a small piece of work, so it will take some time. And we need to get some new animals in first (horses, goats, falcons).

[2018-10-03 15:15] Tschipp commented on #113
_From @darthvader45 on June 14, 2017 11:2_

I'd be tickled pink if the goats were anything like the Mo' Creatures goats in behavior (generally eat anything, don't leave em too close to your drops when you die, that sort of thing).

[2018-10-03 15:15] Tschipp commented on #113
Seeing as how big the mod has become, an in-game wiki seems like a smart idea

[2018-10-03 15:15] Tschipp opened #114 "[Suggestion] Pet food bowls for the smaller animals"
_From @lorennne on May 17, 2017 22:8_

It would be super cute to have little pet food bowls that you can fill with water or the animals favourite food (hamster food, etc), similar to the way troughs work with larger animals :)

_Copied from original issue: capnkirok/animania#156_

[2018-10-03 15:15] Tschipp commented on #114
I really like that idea!

[2018-10-03 15:15] Tschipp commented on #114
_From @darthvader45 on June 5, 2017 20:57_

Yeah, and perhaps work with vanilla wolves for now (until dogs are added) as well as cats?  I'd love to have a little bowl of milk for any cats I plan on taming.

[2018-10-03 15:15] Tschipp commented on #114
_From @RaliaTheWolf on June 13, 2017 21:56_

Maybe you could also make buckets that can used in horse stalls or something similar? They could maybe hold less food/water and such. I just don't really want my draft horse stalls to have two troughs in it anymore! XD

[2018-10-03 15:15] Tschipp commented on #114
_From @darthvader45 on June 14, 2017 1:5_

Or even multislot troughs, one half for food, the other for water.  It
certainly isn't impossible.

On Tue, Jun 13, 2017 at 5:56 PM, Ralia <notifications@github.com> wrote:

--
Golden rule in Minecraft: Never dig straight down.

[2018-10-03 15:15] Tschipp commented on #114
_From @RaliaTheWolf on June 14, 2017 1:23_

That's a good idea too! That would save me a lot of space in my pastures... Well, maybe not a lot, but it would be nice either way!

[2018-10-03 15:15] Tschipp commented on #114
_From @darthvader45 on June 14, 2017 10:28_

Yeah, and as for automation, I'd love to see multiblock machines for
slaughtering cows and pigs for meat.

On Tue, Jun 13, 2017 at 9:23 PM, Ralia <notifications@github.com> wrote:

--
Golden rule in Minecraft: Never dig straight down.

[2018-10-03 15:15] Tschipp commented on #114
_From @PurpleHel on September 15, 2017 6:41_

*nod* Ways to feed all the animals would be good.

[2018-10-03 15:16] Tschipp opened #115 "[Suggestion] Age"
_From @Jomik on June 7, 2017 13:46_

I am currently not playing with the starving mechanic, as I have to manually keep the population is check. (Looking for that suggestion to separate animals based on age.)

I do however feel like it'd be a nice addition that you have to keep your animals somewhat happy, so that they reproduce. A way to do this would have to make animals die of age.
- Decreasing

[2018-10-03 15:16] Tschipp commented on #115
Maybe. This would require an additional timer, which would decrease the performace. I like the idea though, might do some tests

[2018-10-03 15:16] Tschipp commented on #115
_From @Jomik on June 7, 2017 15:16_

This is similar to the growth timer you're using at the moment for the baby animals, I'd say?
- Is your source code available somewhere? For pull requests and the like? (Though, I wont make any this month, due to exams)

[2018-10-03 15:16] Tschipp commented on #115
It's (currently) not open source. The baby animals are separate entities that don't share timers with their parents

[2018-10-03 15:16] Tschipp commented on #115
_From @Lordician on June 30, 2017 19:39_

Maybe a weird but slightly valid workaround would be to use the need for food of animals to track the age.
So instead of a seperate timer for it's age, every time you check for food you also add to the age.
Or everytime they eat they become older (since this is how you speed up growth from baby to adult in Minecraft apparently).
Something like that might b

[2018-10-03 15:16] Tschipp opened #116 "AgriCraft compat (seed dupe)"
_From @3DLudi on July 8, 2017 0:30_

I found an interesting seed dupe combining Animania's right click to place seeds and AgriCrafts crop sticks.  When I right click on crop sticks to plant a crop it works OK but Animania also places seeds on the ground.  I can then break the seeds on the ground (1 seed) and break the crop sticks (2 seeds).

ATM I am forced to use the shift-right click to place se

[2018-10-03 15:16] Tschipp commented on #116
_From @YswMusician on July 8, 2017 11:9_

Also, right clicking fence or door while holding seeds also causes seeds to be placed on the ground. This is quite irritating when tending wild chickens to farm.

I hope this will be fixed soon :)

[2018-10-03 15:16] Tschipp commented on #116
@YswMusician Is this happening on 1.10 or 1.11?

[2018-10-03 15:17] Tschipp commented on #116
_From @YswMusician on July 8, 2017 11:52_

Oops, I'm playing modpack "All the mods 2(Minecraft 1.11.2)" and I noticed It's using outdated version of Animania(1.1.5). I'm very sorry if this is fixed already :(

+I run Test with Minecraft 1.11.2 with Animania 1.2, and this still happens.
+I also run Test with Minecraft 1.10.2 with Animania 1.2, and happens.

[2018-10-03 15:17] Tschipp commented on #116
_From @capnkirok on July 8, 2017 12:33_

Nope, not fixed yet. Tried to get it into today's maintenance fix, but it's going to take a bit more time.

[2018-10-03 15:17] Tschipp opened #117 "Switching Keys to dismount a hamster"
_From @pawelik001 on August 18, 2017 16:59_

It's able to change key to dismount a hamster? Because SHIFT in my opinion is bad key, and I would to change key to Page Down or something. :smile:

_Copied from original issue: capnkirok/animania#304_

[2018-10-03 15:17] Tschipp commented on #117
_From @capnkirok on August 18, 2017 17:16_

Thanks for the suggestion, I will take a look. We may have to change a few things because of Carry On.

[2018-10-03 15:17] Tschipp commented on #117
_From @pawelik001 on August 18, 2017 17:28_

Yay, thank you very much! :smiley: I can't wait! :)

[2018-10-03 15:17] Tschipp commented on #117
_From @Deshiba on September 24, 2017 22:41_

This should be a keybinding thing to be honest. Let players set the key themselves trough the control menu?

[2018-10-03 15:17] Tschipp commented on #117
How is it a bad keybinding for dismounting the hamster?

[2018-10-03 15:17] Tschipp commented on #117
_From @Deshiba on September 25, 2017 6:48_

@Tschipp well, it's not necessarily bad. In this instance though, sneaking dismounts a pet. Also if other mods use the shift key for something you might want to change what it's mapped to. It'd be nice to configure the key manually trough the controls menu.

[2018-10-03 15:18] Tschipp opened #118 "Dynamic tree seeds"
_From @Deshiba on September 24, 2017 23:20_

So I've been playing with the [Dynamic Trees](https://minecraft.curseforge.com/projects/dynamictrees?gameCategorySlug=mc-mods&projectID=252818) mod and one of its features it offers is Seeds. These seeds take the place of vanilla saplings, I can't use these to feed an animal though.

Would these seeds need to be flagged differently from the Dynamic Tree

[2018-10-03 15:18] Tschipp commented on #118
Do you mean to be placed on the ground? If you mean that, no, those seeds are currently hardcoded to the vanilla seeds. It‘s currently not a priority to rewrite them, but it still may happen in the future

[2018-10-03 15:18] Tschipp commented on #118
_From @Deshiba on September 25, 2017 6:50_

@Tschipp Dynamic Trees adds its own seeds. But unlike wheat seeds they can't feed animals by right clicking on them (for taming).

[2018-10-03 15:18] Tschipp opened #119 "[Suggestion] Pheasants (with special feature)"
_From @LunariusH on September 28, 2017 12:7_

I would love to see pheasants introduced, with one special feature.  They're attracted to tall grass and will be invisible and invulnerable when located within it.  Want to hunt/catch pheasant? FLUSH'EM'OUT!

_Copied from original issue: capnkirok/animania#363_

[2018-10-03 15:18] Tschipp commented on #119
_From @NavyT on November 4, 2017 11:10_

I love this idea!

[2018-10-03 15:18] Tschipp opened #120 "[SUGGESTION] Crafttweaker support for the aging mold"
_From @Sunconure11 on October 7, 2017 1:8_

Would it be possible to add Crafttweaker support for the aging mold? The input could be a fluid, and the output could be a solid block, or something similar to represent things like items (salt)

_Copied from original issue: capnkirok/animania#375_

[2018-10-03 15:18] Tschipp commented on #120
_From @lolorz13 on January 8, 2018 8:58_

I agree, this would be useful for manipulating the salt output as well, 16 salt seems a bit excessive (1 bucket of water gets 16 salt, 8 salt = 1 salt lick which is almost a full block)

[2018-10-03 15:19] Tschipp opened #121 "Client decides what to put in trough"
_From @Zerotiger on October 16, 2017 2:0_

When I change the config "troughFood", on clientside I am able to put that into a trough on a server (Only tested on my own dedicated server)
This means that if a client adds "minecraft:stone", they will be able to put stone into any trough on any server, not matter the config of the server. At least that is the conclusion I made after trying a few differ

[2018-10-03 15:19] Tschipp commented on #121
_From @Zerotiger on October 16, 2017 2:4_

The reason I encountered this was because I wanted to see if I could change the serverside config on my server, in-game on the client. When it worked, I was skeptical if it actually worked or something was wrong with the trough.
I tried changing the config clientside and then joining the server afterwards. I was still able to put whatever, I had to chosen

[2018-10-03 15:19] Tschipp commented on #121
_From @Zerotiger on October 16, 2017 2:7_

I should also ask, is there a way to change the Animania settings in-game on a server?

[2018-10-03 15:19] Tschipp commented on #121
Ah, interesting. Yeah thanks for exposing this, it really could be that the check is only client side.

[2018-10-03 15:19] Tschipp commented on #121
_From @capnkirok on March 19, 2018 22:0_

@Tschipp this one is for you

[2018-10-03 15:19] Tschipp commented on #121
_From @Zerotiger on March 19, 2018 23:16_

I don't think the client should even be doing any checks, unless the config is synchronized. It should just send a request packet and the server should do the checks.
At least, that's what I think

[2018-10-03 15:19] Tschipp opened #122 "compatibility implementation with GeneticsReborn"
_From @13illy on October 21, 2017 20:41_

### Expected Behavior
Recognises animals to have  DNA traits same for all other Animania animals.

### Actual Behavior
generates basic DNA and never DNA with animal traits.

### Steps to Reproduce
 use a DNA Decrypter to decrypt cells from Animania mobs and watch as it doesn't give you the ability to milk yourself.
there is an API method to help with this

[2018-10-03 15:19] Tschipp opened #123 "[Suggestion] Working Cattle (/Oxen)"
_From @Gift-of-Names on October 22, 2017 16:54_

Seeing as Draft Horses not only exist in this mod and (someday) will be able to "work", you may want to consider adding working cattle. Technically these can be of almost any breed or gender (an oxen is just a trained animal, usually a steer). Many traditional working cattle come from "triple-purpose" breeds (i.e. capable of producing meat, milk, an

[2018-10-03 15:19] Tschipp commented on #123
_From @NeonWolfie on December 13, 2017 12:38_

That sounds cool, but I think their just going to use horses for that.

[2018-10-03 15:19] Tschipp commented on #123
_From @Deshiba on December 13, 2017 18:45_

@NeonWolfie I see no reason to not extent the function to other animals too. Even in vanilla you can ride Horses, Donkeys and Pigs instead of just 1 animal.

But maybe the devs feel different.

[2018-10-03 15:19] Tschipp opened #124 "[1.10.2; 1.3.5] Hoppers cannot pull from nests"
_From @Sandriell on October 29, 2017 6:37_

I am unable to get eggs to be pulled from nests using hoppers.

### Expected Behavior

Hooper being able to pull eggs from nests

### Actual Behavior

Nothing happens; eggs stay in the nest.

### Steps to Reproduce

Place, chest, place hopper, place nest on top.

### Version of Minecraft, version of Animania, Single Player or Server

1.10.2, 1.3.5, Serve

[2018-10-03 15:19] Tschipp commented on #124
_From @capnkirok on October 29, 2017 14:43_

Yeah, 1.3.5 is not automated. Old trough, old nest, no hamster wheel...

[2018-10-03 15:20] Tschipp opened #125 "[Suggestion] Oredictionary support for the config file (food)"
_From @Lordician on October 29, 2017 21:33_

It would be useful if the config file had Oredictionary support for food items (for the stuff the animals eat).
This would make this mod a lot more compatible for future mods that have similar items that you already support.
I can already name one food item for the animals that is currently not supported but would be supported if it was using the oredic

[2018-10-03 15:20] Tschipp commented on #125
_From @capnkirok on October 31, 2017 7:39_

Ok, what your suggesting is that you can put the oreDictionary version into food config areas instead of the foods from individual mods. Would certainly save some time.

[2018-10-03 15:20] Tschipp commented on #125
_From @Lordician on November 2, 2017 12:31_

Yes, that is exactly what i mean.
It would save time and make the mod more compatible with some mods out of the box as well (if the config files were changed to reflect this addition).

[2018-10-03 15:21] Tschipp opened #126 "Animal Crates (suggestion)"
_From @Hootling on October 30, 2017 17:28_

Since different animal breeds spawn in different biomes, I would like to suggest a method for capturing and transporting them long distances.  Animal Crates, like you have IRL for pets or livestock.

Perhaps they could be built out of wood and string, or other similar vanilla materials so that they are balanced (instead of reusable nets/lassos like in ot

[2018-10-03 15:21] Tschipp commented on #126
_From @Wolfixsp on October 30, 2017 22:29_

u can install teh carry on mod to transport small animals

[2018-10-03 15:21] Tschipp commented on #126
_From @NavyT on November 4, 2017 11:7_

Not a bad idea!

[2018-10-03 15:21] Tschipp commented on #126
_From @capnkirok on November 12, 2017 22:59_

You can also use the new Horse Cart :)

[2018-10-03 15:21] Tschipp commented on #126
_From @capnkirok on August 4, 2018 22:32_

Ooh there's a mod for this. Not sure if it's public though.

[2018-10-03 15:21] Tschipp opened #127 "(Suggestion) Bottle feeding baby animals!"
_From @NavyT on November 4, 2017 11:1_

Could there be a feature where you could bottle feed a baby animal?

So lets say you have a baby sheep (Or any other baby animal) and a empty bottle (Custom baby bottle?)
You milk a sheep (Or any other animal that's the same as the baby)
And you craft the milk into a bottle. Or some other way.
And then you bottle feed the baby animal (The same as if feeding,

[2018-10-03 15:21] Tschipp commented on #127
_From @Wolfixsp on November 6, 2017 16:48_

Yeah and add the bottle feeding a bonus to the baby in maybe growth or happiness

[2018-10-03 15:21] Tschipp opened #128 "(Suggestion) Eatable hay bales/Placeable/Stackable wheat?"
_From @NavyT on November 4, 2017 11:31_

Could sheep/horses/animals that eat wheat
be able to eat hay bales? Or wheat could be placeable? Maybe the wheat could even be stackable. And slowly go's down when animals eat it.

_Copied from original issue: capnkirok/animania#415_

[2018-10-03 15:21] Tschipp commented on #128
That's basically the functionality of troughs

[2018-10-03 15:21] Tschipp commented on #128
_From @NavyT on November 4, 2017 20:57_

Oh. I was thinking like how the seeds work when you place them down. Just a suggestion of the other way. Two options on how you could place them.

[2018-10-03 15:21] Tschipp commented on #128
_From @Wolfixsp on November 5, 2017 0:17_

i agree like when im going adventure for a time and need to my cows be well fed and happy

[2018-10-03 15:21] Tschipp commented on #128
_From @BryanBoru on January 23, 2018 13:19_

This is especially significant if you have neighbors close enough to keep your chunk loaded while out adventuring.

[2018-10-03 15:21] Tschipp opened #129 "(Suggestion) Advanced Breeding"
_From @NavyT on November 4, 2017 11:41_

Two breeds of sheep (Or other animals) breed. They could either make a pure breed or a mixed color breed of the two.

_Copied from original issue: capnkirok/animania#416_

[2018-10-03 15:21] Tschipp opened #130 "(Suggestion/Idea) Flower headbands for sheep/other animals"
_From @NavyT on November 4, 2017 21:7_

Just a for fun idea. Could sheep/other animals wear flower headbands? You could place/remove at will.
There are mixed colors or 8 colors, red, orange, yellow, green, blue, purple, black, white.

And idea of how it could look. (Of course not irl form.)
![trre](https://user-images.githubusercontent.com/33370652/32409450-38b85e06-c169-11e7-98a4-50dde27e4bf1.PNG

[2018-10-03 15:21] Tschipp commented on #130
_From @NavyT on November 5, 2017 17:19_

Maybe even bells for the sheeps neck.

[2018-10-03 15:21] Tschipp commented on #130
_From @Deshiba on November 8, 2017 11:43_

I feel like this should be outside the scope of Animania.

[2018-10-03 15:21] Tschipp opened #131 "Dispensers don't place seeds when using Botania"
_From @SSyl on November 14, 2017 8:3_

It's possible that there's not much you can do about this since it's ultimately Botania overriding the dispenser functionality, but I'll log it here just in case there's something that can be done.

### Expected Behavior
Dispensers should place seeds when activated as it does when manually placed by hand.

### Actual Behavior
Dispensers "throw" out seeds simi

[2018-10-03 15:21] Tschipp commented on #131
_From @capnkirok on November 16, 2017 10:4_

Hmm.... this used to work, we put in some code specifically around this for Botania. Tagging @Tschipp .

[2018-10-03 15:21] Tschipp commented on #131
@capnkirok We put in code for quark, not for botania

[2018-10-03 15:21] Tschipp commented on #131
_From @capnkirok on November 18, 2017 17:29_

Ah yes... let me see if we can extend to botania

[2018-10-03 15:21] Tschipp commented on #131
_From @SSyl on December 12, 2017 4:8_

Seems like it's still broken.

I just tried using only Animania 1.4.3, Botania r1.10-352 (and its dependencies), MC 1.12, Forge 14.23.1.2562

[2018-10-03 15:21] Tschipp commented on #131
_From @williewillus on December 12, 2017 6:43_

um, can you not just use droppers for the seeds? if it's just dropping the items, that's exactly what a dropper is for.

dispensers are for "complex" actions while droppers are purposefully limited to only dropping the item in world

edit: I might be misunderstanding the issue. Are you wanting the intended functionality to be "drop in world" or "plan

[2018-10-03 15:21] Tschipp commented on #131
_From @SSyl on December 12, 2017 7:26_

@williewillus

In Animania, the dispensers are supposed to "place" the seeds on the ground so that animals (i.e chickens) can eat them and get fed.

Currently, with Botania installed, instead of dispensers placing seeds on the ground it functions similar to a vanilla dropper/dispenser where it just drops/shoots the item in the world.

Here's an image of the

[2018-10-03 15:21] Tschipp commented on #131
_From @capnkirok on December 12, 2017 9:10_

Yeah, this wasn't meant to be closed.

[2018-10-03 15:21] Tschipp commented on #131
_From @capnkirok on January 20, 2018 16:18_

Still working on the dispenser issue, but just an FYI, in 1.4.4 update, Chickens will be able to eat Seeds and Corn from Troughs.

[2018-10-03 15:21] Tschipp commented on #131
_From @SSyl on January 26, 2018 5:20_

@capnkirok Troughs are working great for chickens, but it seems like Peacocks don't eat out of troughs like chickens. Is that intended behavior?

[2018-10-03 15:23] #131 closed, assigned to Tschipp

[2018-10-03 15:23] SirChamomile commented on #49
The mod in question is Conquest Reforged. The terrain gen is such that most blocks are covered in unique plants and grasses. I was able to use this mod somewhat successfully after the name change, but the transparent blocks occluding spawning space were still a bit problematic, requiring the player to clear out vegetation for animals to spawn. That being said, I haven't been playing recently and t

[2018-10-03 15:24] Tschipp opened #132 "[Suggestion] Modded seed compatibility"
_From @mmelvin0 on December 7, 2017 5:13_

I realize this is low-priority, but I didn't see an open or closed issue for this...

I was going to try and write a quick mod to make BWM hemp seeds placeable, but I took a look and saw that vanilla seeds are hardcoded in at least three spots so I gave up.

It may not be worth it to make it work (e.g. dynamic textures) but just figure there's a lot of mo

[2018-10-03 15:24] Tschipp commented on #132
_From @capnkirok on December 11, 2017 16:58_

Yeah, it's a good idea. I think we could add this to the config / seed placement code at some point.

[2018-10-03 15:27] Tschipp opened #133 "Goat belly texture"
_From @BlueWither on December 12, 2017 10:14_

### Actual Behavior
The texture of the goat's belly is reversed.
### Version of Minecraft, version of Animania, Single Player or Server
Minecraft1.12.2
Animania1.4.3
Single Player
### Screenshots encouraged
![Goat1](https://i.imgur.com/yiZsg1r.png)
![Goat2](https://i.imgur.com/WFoKOVY.png)

_Copied from original issue: capnkirok/animania#478_

[2018-10-03 15:27] Tschipp commented on #133
_From @capnkirok on December 12, 2017 16:30_

Thanks. Probably means all of the goats are wrong.

[2018-10-03 15:28] Tschipp opened #134 "Dispensers don't throw animania eggs"
_From @Protected on December 27, 2017 20:34_

Minecraft 1.12.2
Forge 14.23.1.2555
Animania 1.4.3

When egg throwing is enabled in the config, it becomes possible to manually throw animania eggs and sometimes obtain chickens from them (as intended). However, dispensers will still drop the eggs instead of throwing them. I would expect dispensers to throw the eggs (as they do with vanilla eggs), poss

[2018-10-03 15:28] Tschipp opened #135 "[1.12.2] Horses disappear/teleport vast distances after being ridden on servers"
_From @Whiskey-Sunshine on December 28, 2017 0:39_

### Expected Behavior
Horses stay where they were when dismounted (Both Animania draft horses and vanilla Minecraft horses)

### Actual Behavior
Horses teleport in the direction you initially came from when being ridden for distances over 100m (Only caught this twice, they move absurdly fast, only on screen moving far into the distance ala enderm

[2018-10-03 15:28] Tschipp commented on #135
_From @capnkirok on January 7, 2018 10:30_

Weeeiird. Thanks for the report.

Sounds like a Server / Client desync.

[2018-10-03 15:28] Tschipp commented on #135
_From @olsonea on January 11, 2018 14:22_

I can confirm this in vanilla 1.12.2.

[2018-10-03 15:28] Tschipp commented on #135
_From @capnkirok on January 12, 2018 13:33_

@olsonea wait... are you saying this is a Vanilla MC issue?

[2018-10-03 15:28] Tschipp commented on #135
_From @ghost on January 15, 2018 7:32_

I've ridden a few draft-horses over long distances, only to turn around after dismounting and notice they have 'disappeared'.
Often they will just immediately start walking back along the route you took, sideways, towards their mounting point (sometimes they'll stop 2~5 chunks away, view distance depending, sometimes they'll go all the way home) and randomly

[2018-10-03 15:28] Tschipp commented on #135
_From @capnkirok on January 15, 2018 10:4_

Thanks @Draylynn for the repro steps.

[2018-10-03 15:28] Tschipp commented on #135
_From @olsonea on January 15, 2018 14:29_

Yes, I am saying this is a Vanilla MC issue.

I have noticed that the horses will sometimes reappear if I exit the world,
and reload it.

On Fri, Jan 12, 2018 at 8:33 AM, Purplicious_Cow <notifications@github.com>
wrote:

[2018-10-03 15:28] Tschipp commented on #135
_From @capnkirok on January 15, 2018 20:15_

Ok, so re-reading the above, I can now explain why the horses immediately head back to their starting point... and also could explain the 'teleportation' issue. It would also explain similar behavior in vanilla.

When a horse (or any animal) is being ridden, the AI continues to execute (I just verified this). That means they they get cues to 'wander' or

[2018-10-03 15:28] Tschipp commented on #135
_From @ghost on February 27, 2018 12:35_

Just a note, I'm still noticing this behavior on 1.4.6. Just got off my draft stallion, turned around, fwoosh, gone.

[2018-10-03 15:28] Tschipp commented on #135
_From @capnkirok on March 17, 2018 8:46_

Ok, thanks.

[2018-10-03 15:28] Tschipp commented on #135
_From @JkHowling on April 11, 2018 20:25_

Just happened to me with a donkey with ALL MY STUFF ON IT. I dismounted to check out an igloo and poof went the donkey with all my loot :'D

[2018-10-03 15:28] Tschipp commented on #135
_From @capnkirok on April 12, 2018 8:23_

Well, unfortunately, @JkHowling that means this is a vanilla MC problem (which someone else said above), and since we extend the vanilla horse, it appears we inherited it on Animania. Will complain to Mojang, see if there's any progress...

[2018-10-03 15:28] Tschipp opened #136 "Milk disappearing in survival mode"
_From @dutchydoescoke on December 31, 2017 22:14_

I've been playing in survival mode and whenever I milk one of the cows, the second I open my inventory and click on it, the bucket's empty. I haven't drunk it or anything. If I use creative mode to fill a bucket, it doesn't vanish when I swap back. But it won't if it's filled on survival. It also won't pour into the cheese mold, either.

I already

[2018-10-03 15:28] Tschipp commented on #136
_From @ejektaflex on January 1, 2018 21:31_

This happens to me, too, on our multiplayer world. MC 1.12.2, Animania 1.4.3, Forge 14.23.1.2560. Nobody can get their dairy right now sadly.

[2018-10-03 15:28] Tschipp commented on #136
_From @capnkirok on January 3, 2018 22:46_

Thanks, both.

[2018-10-03 15:28] Tschipp commented on #136
_From @capnkirok on January 5, 2018 3:57_

Ok, so this is working for me (on an older version of Forge). Going to see if the latest makes a difference. Did you by chance update Forge recently?

![image](https://user-images.githubusercontent.com/9628379/34595014-c65f594e-f1d4-11e7-912c-e4434c5c55c5.png)

[2018-10-03 15:28] Tschipp commented on #136
_From @dutchydoescoke on January 5, 2018 23:4_

No, I hadn't. I've been using the same Forge version the entire time.

[2018-10-03 15:28] Tschipp commented on #136
_From @capnkirok on February 5, 2018 8:49_

@dutchydoescoke @ejektaflex can you guys try 1.4.5? If you are still having issues, please share your modlist(s). I can't reproduce this, so it seems like it must be a conflict of some sort. Thanks!

[2018-10-03 15:28] Tschipp opened #137 "render issue with refined storage and animania"
_From @CharCharthemonkey on January 7, 2018 3:26_

### Expected Behavior

work as intended
### Actual Behavior

crashes the client
### Steps to Reproduce
tried to make an auto craft recipe with refined storage for cheese wedges and it crashed my client

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2 minecraft 1.4.3 animaina single player

### Screenshots encouraged

[2018-10-03 15:28] Tschipp commented on #137
_From @capnkirok on January 7, 2018 13:29_

Can you post your crash log, please.

[2018-10-03 15:28] Tschipp commented on #137
_From @CharCharthemonkey on January 7, 2018 16:32_

[crash-2018-01-06_21.14.02-client.txt](https://github.com/capnkirok/animania/files/1609954/crash-2018-01-06_21.14.02-client.txt)
as requested

[2018-10-03 15:28] Tschipp commented on #137
_From @CharCharthemonkey on January 7, 2018 17:27_

[crash-2018-01-07_11.10.44-client.txt](https://github.com/capnkirok/animania/files/1609991/crash-2018-01-07_11.10.44-client.txt)
this was after disableing the mod to remove all RS connections then re adding it and it still crashed cause of the cheese mold and cheese knife

[2018-10-03 15:28] Tschipp commented on #137
_From @capnkirok on January 22, 2018 20:39_

Hey @CharCharthemonkey can you post this one to Refined Storage? There's nothing wrong with our recipe..

[2018-10-03 15:28] Tschipp commented on #137
_From @CharCharthemonkey on January 22, 2018 23:14_

will do thank you for checking

[2018-10-03 15:30] Tschipp opened #138 "[Suggestion] Add config option to disable "Edible Anytime" on foods"
_From @SSyl on January 22, 2018 20:0_

It would be nice if there was a config option to disable the "Edible Anytime" on foods.

The reason being that it unbalances other mods, such as [Nutrition](https://github.com/WesCook/Nutrition), which depend on you only being able to eat when hungry. In Nutrition's case, you're able to cook up a few Animania omelettes and cheese to quickly max out your dairy

[2018-10-03 15:30] Tschipp commented on #138
_From @capnkirok on January 22, 2018 20:36_

Oh I had no idea. I always found it annoying if you wanted to eat something for its other benefits (like strength or speed etc), but you have to wait until you were hungry.

Yes, can add a config :)

[2018-10-03 15:31] Tschipp opened #139 "more of a question actually"
_From @CharCharthemonkey on January 23, 2018 22:16_

### Expected Behavior
probably

### Actual Behavior

idk
### Steps to Reproduce
none

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2 1.4.4 but was wondering if possible for the vanilla spawn eggs instead of them just poofing would it be possible to have them give a random animal instead?

### Screenshots encouraged

[2018-10-03 15:31] Tschipp commented on #139
What?

[2018-10-03 15:31] Tschipp commented on #139
_From @capnkirok on January 24, 2018 16:30_

@Tschipp with my new spawn fix, the vanilla eggs no longer work.

[2018-10-03 15:31] Tschipp commented on #139
Ah, didn't know

[2018-10-03 15:31] Tschipp commented on #139
_From @CharCharthemonkey on January 24, 2018 21:21_

yea and instead of them fizzeling out was wondering if possible to have them give a radom chance to spawn any of the animania animals based on spawn egg if thats possible?

[2018-10-03 15:31] Tschipp commented on #139
_From @capnkirok on January 24, 2018 22:36_

Maybe, it would be an enhancement though (and called it as such).

[2018-10-03 15:31] Tschipp commented on #139
_From @CharCharthemonkey on January 25, 2018 1:13_

noted and wasnt sure which tag would fit lol and ty

[2018-10-03 15:31] Tschipp opened #140 "Add a Revert option, to convert animals back"
_From @Nikola135 on January 24, 2018 21:46_

I just want to know how to safely remove Animania. My friend gave me this server with this mod on it, but if I remove this mod by deleting it, all animals disappear. In config I saw that he replaced all vanilla animals with Animania animals.
Is there a way to revers this process and how?

_Copied from original issue: capnkirok/animania#530_

[2018-10-03 15:31] Tschipp commented on #140
_From @capnkirok on January 24, 2018 22:20_

Well, you can safely remove animania at any time. However, it will take a very long time for vanilla animals to respawn naturally (and light will have to be > 9).

Your best bet is to introduce new animals manually. I could add a reverse engineering option, might be a good idea. That way if you turn off 'replace' it converts the original back to vanilla

[2018-10-03 15:31] Tschipp commented on #140
_From @Nikola135 on January 24, 2018 22:43_

Thank you for fast response.

Well, my girlfriend that plays it. She likes more old sheep. I probably wouldn't have to remove it if only sheep could be vanilla. But she does like everything else.

I have been looking into writing a command that will do that, but i don't have time to learn how mc code works, but from what I could find so far, I should be

[2018-10-03 15:31] Tschipp commented on #140
_From @capnkirok on January 25, 2018 18:23_

Your plan will work. Make sure you turn off Animania Sheep spawning and Replace Vanilla Sheep in the config first, otherwise it will keep happening :)

I will add this 'revert' option into our suggestions list. Let me know how it goes!

[2018-10-03 15:31] Tschipp commented on #140
Yeah so the plan is a command, probably like /convertanimals that kills all animania animals and replaces them with the vanilla (only in loaded chunks though)

[2018-10-03 15:31] Tschipp opened #141 "Suggestion: show male/female indicator for baby animals"
_From @MauveCloud on January 31, 2018 21:40_

It seems like it would be useful, especially with "classic" breeding (as opposed to manual breeding) to be able to check whether a calf, lamb, chick, etc. is male or female via Waila or The One Probe.  However, a quick glance via jd-gui indicates that baby animals are currently of indeterminate sex and choose randomly which to become upon reaching adul

[2018-10-03 15:31] Tschipp commented on #141
_From @Deshiba on February 1, 2018 4:23_

Similar to #305, so I guess the answer here is the same:

[2018-10-03 15:31] Tschipp commented on #141
_From @MauveCloud on February 1, 2018 4:55_

😞 The description of that one is enough different that I didn't catch it when searching for an existing bug, and I'm not sure what makes this so much work - if the mod were open source, I'd try to make a pull request for it myself, but it isn't (yet).

[2018-10-03 15:31] Tschipp commented on #141
_From @capnkirok on February 3, 2018 12:33_

Thanks @MauveCloud yeah, I need to clean up some of the code in our private git first. I meant to have it public in January...

[2018-10-03 15:31] Tschipp commented on #141
_From @Deshiba on August 27, 2018 15:47_

@MauveCloud Source has been open for a while now. See https://github.com/capnkirok/animaniamod

[2018-10-03 15:31] Tschipp commented on #141
_From @capnkirok on August 27, 2018 16:55_

I'm going to put this on the to do list

[2018-10-03 15:31] Tschipp opened #142 ""Growing time" shows 1199s until adulthood"
_From @MauveCloud on February 1, 2018 2:3_

### Expected Behavior
Growing time, if shown at all, should be a countdown to adulthood (or maybe adolescence first, some animals (but possibly not all) seem to have a separate model for that).

### Actual Behavior
Growing time remains stuck at 1199s until the animal suddenly reaches adulthood, at which point it disappears from the tooltip.

### Steps to

[2018-10-03 15:31] Tschipp commented on #142
_From @capnkirok on February 4, 2018 23:33_

Uhhh... growing time isn't something I'm tracking on Animania animals. This is a leftover from vanilla, which I ignore. Are you by chance using WAWLA?

[2018-10-03 15:31] Tschipp commented on #142
_From @MauveCloud on February 4, 2018 23:40_

Nope.  I'm using The One Probe (with TOP Addons, in case that matters - though it shouldn't, considering TOP has an option in its own config for showing this).

[2018-10-03 15:31] Tschipp commented on #142
_From @capnkirok on February 5, 2018 0:20_

From today (1.12).... is this something you can turn off in AddOns?

![2018-02-05_01 18 39](https://user-images.githubusercontent.com/9628379/35784026-9a514302-0a12-11e8-87b1-328b4d5262ca.png)

[2018-10-03 15:31] Tschipp commented on #142
_From @MauveCloud on February 5, 2018 0:56_

Turning it off in TOP Addons was insufficient.  Turning it off in TOP itself as well worked.  However, it is on by default in TOP by itself, so I'm confused that you're not getting it in the TOP tooltip.

[2018-10-03 15:31] Tschipp commented on #142
_From @RarCs on February 13, 2018 13:22_

What should I do?

[2018-10-03 15:31] Tschipp commented on #142
_From @capnkirok on February 27, 2018 12:1_

@RarCs you need to turn off this feature in the TOP config to fix it.

@MauveCloud not sure, maybe I need to update to a new version...

[2018-10-03 15:31] Tschipp commented on #142
_From @beanaboston on July 26, 2018 15:54_

This is happening to me too. I'll just disable that option, as it's a little annoying to just see that the whole time until it grows up.

[2018-10-03 15:32] Tschipp opened #143 "Request: features for cats"
_From @EternalShadow17 on February 7, 2018 19:10_

I would realy love to have more to cats than what we have in vanilla minecraft. Some ideas would be more races, cat beds and accual cats instead of ocelots transforming lol, and idk just more to them i guess. I cant seem to find any up to date mods that have this and i figured this would be a great addition to this mod.

_Copied from original issu

[2018-10-03 15:32] Tschipp commented on #143
_From @MauveCloud on February 7, 2018 19:18_

Can't find any up to date mods that have it?  What about Mo' Creatures?
Here: https://mocreatures.gamepedia.com/Mo%27_Creatures_Wiki

[2018-10-03 15:32] Tschipp commented on #143
_From @EternalShadow17 on February 7, 2018 20:36_

Mo creature is not updated to 1.12.2, and mo creatures does have cats and other cool mobs but they dont all have as much realism as those in animania do. Animania also is quite a heavy mod to run, my pc isnt the best and i like to have the least mods possible and i prefer this one over mo creatures, its just a suggestion the mod is amazing withoug

[2018-10-03 15:32] Tschipp commented on #143
_From @capnkirok on February 7, 2018 20:41_

Cats are coming, don't worry :)

[2018-10-03 15:32] Tschipp commented on #143
_From @EternalShadow17 on February 7, 2018 20:48_

Cool :) this mod is amazing and i love the work you put in to keep it up to date and running smooth! keep it up :D

[2018-10-03 15:32] Tschipp commented on #143
_From @MauveCloud on February 7, 2018 21:1_

If you look at CurseForge, you might think that, but according to the link I provided (which I found by following the Wiki link from the Mo' Creatures CurseForge page and a link from that page, so I'm fairly sure it's legit), it is.  Your other reasons for skipping it are valid, though.

[2018-10-03 15:32] Tschipp commented on #143
_From @EternalShadow17 on February 7, 2018 23:27_

Nice, strange that its not on curseforge but thanks for clearing that up! Guess ill start looking elsewhere than curseforge for my mods lol

[2018-10-03 15:32] Tschipp opened #144 "Documentation Improvement Suggestions"
_From @MauveCloud on February 11, 2018 18:11_

A few things I've noticed where the CurseForge documentation could use a little improvement:
1. Hamster Wheel - I'd like to know how many RF/t this generates, and how long each piece of hamster food is expected to last.  I also haven't figured out what is meant by "Sneak + Right click to grab the created energy".  I discovered that the hamster food ca

[2018-10-03 15:32] Tschipp commented on #144
_From @capnkirok on February 12, 2018 15:53_

Thanks, yeah, these are good. We have been trying to create a wiki, but it's been slow going.  The site is up, but we need people to fill it... most of it can be copied from the forum...

Let me know if you see more gaps

PC

[2018-10-03 15:32] Tschipp commented on #144
_From @Deshiba on February 12, 2018 18:37_

@capnkirok If this wiki is public, could you point me in its direction?

[2018-10-03 15:32] Tschipp commented on #144
_From @capnkirok on February 13, 2018 11:55_

Hey @Deshiba it's here. It's really slow at the moment. If you would like to contribute (which would be great), let me know and I will get you access.

http://www.animaniamod.net/index.php/Main_Page

[2018-10-03 15:32] Tschipp commented on #144
_From @Deshiba on February 13, 2018 15:29_

Last edited: 3 September 2017...

I would like to help

[2018-10-03 15:32] Tschipp commented on #144
_From @capnkirok on February 13, 2018 17:51_

Can you DM me your email on CurseForge or Discord? Will need to add you to the wiki.

[2018-10-03 15:32] Tschipp commented on #144
_From @Deshiba on February 13, 2018 18:48_

@capnkirok Done, you should have a request on curseforge.
@MauveCloud Sorry for the hijack ;)

[2018-10-03 15:32] Tschipp opened #145 "Edible Truffles"
_From @Deshiba on February 15, 2018 21:44_

### Expected Behavior
Truffles to be edible in raw form

### Actual Behavior
Truffles can't be eaten raw

### Additional Info
Most truffle species [can be eaten raw](https://en.wikipedia.org/wiki/Truffle#Culinary_use). It would be justified to be able to eat them in the game as well.

_Copied from original issue: capnkirok/animania#566_

[2018-10-03 15:32] Tschipp opened #146 "Playing this with the new version of Thaumcraft"
_From @madkingdiamond on February 16, 2018 4:49_

### Expected Behavior
Rabbits drop hide

### Actual Behavior
Rabbits do not drop Rabbit Hide, needed for Thaumcraft 6

### Steps to Reproduce
Made a Spawner using Woot on all types of rabbits and no hide

### Version of Minecraft, version of Animania, Single Player or Server
1.10.2 , 1.4.5, Server

### Screenshots encouraged
Not really needed

_Cop

[2018-10-03 15:33] Tschipp commented on #146
_From @capnkirok on February 16, 2018 6:14_

You are the second player to ask for this, so will have to add a third option via config for rabbits.

In the short term, you can:
- Enable Vanilla Rabbits
- Modify one of the drops for rabbits already (feet for instance)
- Use In Control (mod) to modify/add drops

[2018-10-03 15:33] Tschipp commented on #146
We need to do loottables and end this once and for all

[2018-10-03 15:33] Tschipp commented on #146
_From @capnkirok on April 8, 2018 15:52_

We'd have to make our own. Forge doesn't support loot tables for custom entities.

[2018-10-03 15:33] Tschipp opened #147 "[Suggestion] JourneyMap compatibility"
_From @DeymorSalk on February 20, 2018 20:2_

Animals do not appear on the map.
--------------------------------------
Os animais não aparecem no mapa.

_Copied from original issue: capnkirok/animania#573_

[2018-10-03 15:33] Tschipp commented on #147
_From @MauveCloud on February 20, 2018 21:3_

Are you sure about that?  I've had them appear on JourneyMap, but they get generic dots even if I set JourneyMap to use small/large icons, and that can be changed: https://journeymap.info/Custom_Mob_Icon_Sets

[2018-10-03 15:33] Tschipp commented on #147
_From @Deshiba on February 20, 2018 21:48_

I Don't think there are custom Icons yet. Maybe making them and adding journeyMap support  could be a thing.

It'd also be nice to have for the wiki

[2018-10-03 15:33] Tschipp commented on #147
_From @capnkirok on February 20, 2018 23:44_

Custom Journey Map icons would be nice @DeymorSalk :)

[2018-10-03 15:33] Tschipp commented on #147
_From @Deshiba on February 21, 2018 15:49_

Extra info, these have been requested before in #155

[2018-10-03 15:33] Tschipp commented on #147
_From @capnkirok on February 22, 2018 18:13_

Never hurts to ask again :)

[2018-10-03 15:33] Tschipp commented on #147
_From @Deshiba on March 14, 2018 7:2_

Working on the icons now. Pigs are done, at this rate ETA should be 3 to 10 days

[2018-10-03 15:33] Tschipp opened #148 "[SUGGESTION] Replace Vanilla Horses"
_From @Kitsufoxy on February 21, 2018 3:30_

I'm not sure if this is planned, but it's at least not on the list.

I'd like to see vanilla horses replaced with improved horses that behave more like the the drafts, and are adapted to the Animania breeding systems, which I adore. I think it would be a great counterpart to the addition of Ponies and the existence of draft Horses. (maybe in addition to

[2018-10-03 15:33] Tschipp commented on #148
_From @capnkirok on February 22, 2018 18:14_

Thanks @Kitsufoxy ! Yes, it's on the list. Thank you for the suggestion. It might take a bit... but we will get there :)

[2018-10-03 15:33] Tschipp commented on #148
_From @vrork on May 15, 2018 15:43_

The problem i see with that is mods that change/edit vanilla horse behaviour. (aka, mods that add new saddles, that add items to improve stats and soo on)

[2018-10-03 15:33] Tschipp opened #149 "[Suggestion] Giraffes, Elephants and Alpacas"
_From @CreamyHorse on February 21, 2018 9:35_

I would like to see some new animals and there are some suggestions:

Giraffes: I would like to see giraffes been add to the mod, tameable?

Elephants: I know they are not farm animals, but I think it will be a good idea to add in the mod that players can tame and ride them, and they can help player attack monsters and enemies.

Alpacas: Same behavior

[2018-10-03 15:33] Tschipp commented on #149
_From @CreamyHorse on February 21, 2018 9:47_

Also Ducks and Goose?

[2018-10-03 15:33] Tschipp commented on #149
_From @Deshiba on February 21, 2018 12:17_

I'm sure these have been sugested already.

[2018-10-03 15:33] Tschipp commented on #149
_From @Deshiba on February 21, 2018 13:5_

Did some digging #31, #210 I'm sure I saw alpaca's somewhere too but I cant find these.

[2018-10-03 15:33] Tschipp commented on #149
_From @CreamyHorse on February 21, 2018 14:28_

Ok, its very interesting lol. I saw many animals such as pigs, cows, chickens even goats and sheeps has different breed and I think that is what this mod all about, Good job XD I think horses and donkeys also needs more breeds instead of just Draft horses, I would also likes to see some breeds like:
pony
miniature donkey
hinny
zebra

[2018-10-03 15:33] Tschipp commented on #149
_From @Deshiba on February 21, 2018 14:50_

Zebras and ponies are allready inc. So are donkeys

[2018-10-03 15:34] Tschipp opened #150 "[Bug] Visual glitch with hamsterballed hamster and enchanted items"
_From @Deshiba on February 25, 2018 9:5_

### Expected Behavior
No visual glitches

### Actual Behavior
Visual glitch with enchanted tool when a hamster balled hamster is on the shoulder and the item is equiped.

### Steps to Reproduce
Get an enchanted tool
Get a hamster
Get your hamster in a hamster-ball
Carry the hamster on your shoulder
Equip the enchanted tool

### Version of Minecraft, versio

[2018-10-03 15:34] Tschipp commented on #150
_From @capnkirok on February 25, 2018 10:37_

Yeah, I need to change a few things with the Hamster Ball. One is that you shouldn't be able to put it on your shoulder at all (which would solve this problem).

[2018-10-03 15:34] Tschipp commented on #150
_From @Deshiba on February 25, 2018 11:45_

Shift+right click should be used to have the hamster exit the ball. As you stated that would solve this issue

[2018-10-03 15:34] Tschipp commented on #150
_From @Deshiba on March 4, 2018 10:50_

The glitch happens with just the hamster as well, no ball gives the same effect on enchanted items.

[2018-10-03 15:34] Tschipp opened #151 "Minecolonies compat"
_From @CharCharthemonkey on March 22, 2018 0:8_

### Expected Behavior

pretty please add in compatability for minecolonies? pretty plz
### Actual Behavior

### Steps to Reproduce

### Version of Minecraft, version of Animania, Single Player or Server

### Screenshots encouraged

_Copied from original issue: capnkirok/animania#600_

[2018-10-03 15:34] Tschipp commented on #151
_From @Deshiba on March 22, 2018 6:23_

You might have to elaborate a bit more on what exactly isn't compatibele now and what you want support for...

[2018-10-03 15:34] Tschipp commented on #151
_From @CharCharthemonkey on March 22, 2018 21:1_

well the animals for male and female arent exactly compatable with mincolonies if that makes sense?

[2018-10-03 15:34] Tschipp commented on #151
Does minecolonies add animals?

[2018-10-03 15:34] Tschipp commented on #151
_From @CharCharthemonkey on April 7, 2018 2:2_

it uses the vanilla versions atm but cause of compat issues cant exactly distinguish between male and female for animania

[2018-10-03 15:34] Tschipp commented on #151
_From @capnkirok on April 8, 2018 15:45_

You are going to have to ask the Minecolonies team to work on this one @CharCharthemonkey . They can pull the Entity Name and filter male from female from that. We can't really do much here, unfortunately. I would cross-post this issue on their github so at least we could communicate if necessary.

[2018-10-03 15:34] Tschipp commented on #151
_From @capnkirok on April 8, 2018 15:51_

I cross posted this see link above. Looks like there was already a thread.

[2018-10-03 15:34] Tschipp commented on #151
_From @CharCharthemonkey on April 10, 2018 2:32_

thank you @capnkirok

[2018-10-03 15:34] Tschipp opened #152 "Block Tick Entity error with Cheese Wheel in Animania?"
_From @wolfgangrumpf on April 3, 2018 20:17_

Hey, using the latest 1.12 Forge and had everything working great.  Then on the latest system maintenance, the server wouldn't start up again, and it appears to have something to do with animania and cheese molds, or maybe milk?   Here's the crash report

https://pastebin.com/sUsDdZUk

_Copied from original issue: capnkirok/animania#606_

[2018-10-03 15:34] Tschipp commented on #152
_From @capnkirok on April 4, 2018 8:4_

Try updating to the latest version of Animania (1.4.7), which was built on forge 2611.

[2018-10-03 15:34] Tschipp commented on #152
_From @wolfgangrumpf on April 4, 2018 13:16_

Aye, I did that, and the server still wouldn't start with the pre-existing world.  Started fine with a new world, as expected.  Do you think the problem can/will recur with the new version, or am I "safe" now?  :)

[2018-10-03 15:34] Tschipp commented on #152
_From @capnkirok on April 5, 2018 10:11_

@Tschipp can you take a look at this one? Seems like somehow the TE got corrupted here. I can't tell if it's caused by a compat or something else...

[2018-10-03 15:34] Tschipp opened #153 "Reduced Draft Horse Speed"
_From @zerafox on April 13, 2018 2:29_

### Expected Behavior
To be able to lead Horse / Horse + Cart with relative ease

### Actual Behavior
Directions in which are 'diagnal' across the world cause severely slow movement when attempting to ride or lead a Draft Horse, especially when pulling a cart.

Water Movement incredibly difficult/slow as well

### Steps to Reproduce
Ride/Lead Draft Horse
Mov

[2018-10-03 15:34] Tschipp commented on #153
_From @capnkirok on April 16, 2018 6:22_

Thanks for the report and the detail. Looking into it.

[2018-10-03 15:34] Tschipp commented on #153
_From @capnkirok on August 19, 2018 9:6_

Yeah, after a lot of testing, I'm considering this a bug. It's pretty annoying. Same for Bulls when pulling the tiller.

[2018-10-03 15:34] Tschipp commented on #153
_From @capnkirok on September 2, 2018 15:18_

I've FINALLY figured this out. It was a collision caused between the horse and the cart when turning. This will be fixed in the next release (1.5.2), and for the Wagon and Tiller as well.

[2018-10-03 15:34] Tschipp opened #154 "Animals models"
_From @Gerbil12 on April 21, 2018 12:34_

Good day I would like to ask if it would be done to make an animal model (aurochs) and it would feed be a favorite food and then it would become a random breed because it would be easier, and easier for the generation of the world 😄 And that's how it would be for all mobs in fashion thanks for reading

_Copied from original issue: capnkirok/animania#611_

[2018-10-03 15:34] Tschipp commented on #154
_From @mser7 on August 5, 2018 5:54_

Wait, we can post suggestions here?

[2018-10-03 15:34] Tschipp commented on #154
_From @Deshiba on August 5, 2018 11:26_

@mser7 Yes, there's more then 1 open suggestion on the git.

[2018-10-03 15:35] Tschipp opened #155 "[1.12] Water render glitch in trough"
_From @capnkirok on June 18, 2018 17:46_

### Expected Behavior
Water to render normally

### Actual Behavior
Weird render on water

### Steps to Reproduce
Put some water in a trough

### Version of Minecraft, version of Animania, Single Player or Server
1.12

_Copied from original issue: capnkirok/animania#616_

[2018-10-03 15:35] Tschipp opened #156 "Suggestion - Hungry Animals compat"
_From @lsi5974 on June 28, 2018 18:5_

### Expected Behavior

### Actual Behavior

### Steps to Reproduce
Manure, mature animal weight, weight gain, block regrowth for grass, predatory animals vs other animals, hunted animal behavior/taming behavior.  I think this would fit nicely with Animania,  a bit more realism to the farm.

### Version of Minecraft, version of Animania, Single Player or Serve

[2018-10-03 15:35] Tschipp commented on #156
_From @LunariusH on July 2, 2018 13:50_

Yes, this, please.  Let's not forget the disease mechanic they were playing with as well.

[2018-10-03 15:35] Tschipp opened #157 "Suggestion - Meat processing/butchering"
_From @lsi5974 on June 28, 2018 18:24_

### Expected Behavior

### Actual Behavior

### Steps to Reproduce
A suggestion for butchering/meat processing. Their was  a mod that would have fit in with both your mod and Hungry Animals, but  it has not been updated,  it, was  a butchering (or meat processing  mod if you prefer) named Fantastic Beasts and How To Eat Them.  Im wondering/hoping you could i

[2018-10-03 15:35] Tschipp commented on #157
_From @LunariusH on July 2, 2018 13:50_

This is an excellent idea, and I would love to see it implemented.

[2018-10-03 15:36] Tschipp opened #158 "Chicken breeds"
_From @Gerbil12 on July 2, 2018 13:38_

Hi do you add other breeds of chickens
Breeds:
Šumava chicken
Braekel
Araucana
Silkie
Cubalaya
Czech gold brindle chicken
Bielefelder Kennhuhn
Kadaknath
Padovana
Banat Naked-neck
Thanks for read.

_Copied from original issue: capnkirok/animania#620_

[2018-10-03 15:36] Tschipp opened #159 "Draft horses doesnt have armor skin"
_From @mser7 on July 15, 2018 11:43_

### Expected Behavior
When tame a draft horse, then equip it with a horse armor, a armor texture will cover the horse

### Actual Behavior
Nothing happened when does so, despite the horse register the armor in the slot, and even have the extra armor points

### Steps to Reproduce

### Version of Minecraft, version of Animania, Single Player or Server
MC versio

[2018-10-03 15:36] Tschipp commented on #159
_From @mser7 on September 7, 2018 9:45_

Sorry for late responding. here is the screenshots
https://imgur.com/a/Jyn82ww

[2018-10-03 15:38] Tschipp opened #160 "[Suggestion] Mooshroom Stuff"
_From @ghost on July 16, 2018 4:4_

Some Mooshroom Ideas

- There should be a Brown Breed of Mooshroom with brown mushrooms. _Maybe it can interbreed with Reds to get a calf of either type at random._

- Feed a cow a mushroom to turn it into a red or brown Mooshroom. _Could make configurable._

- Unless this is a thing, make Mooshrooms also eat mycelium, too.

- And maybe a config to let sheers ju

[2018-10-03 15:38] Tschipp commented on #160
_From @Deshiba on July 16, 2018 8:14_

If this ever becomes a thing, I'd like this to be extended to nether warts too.

[2018-10-03 15:38] Tschipp opened #161 "Anvil named egg pepe doesnt have extra hp"
_From @mser7 on August 3, 2018 14:50_

### Expected Behavior
Take a frog spawn egg, and rename it to "pepe" in an anvil
When spawned, the frog take on the special variant, with extra hp

### Actual Behavior
Pepe frog spawned have the hp of normal frogs, this doesnt happen with normal name tagging method, however. May want to check for other special mobs that have extra hp, if there is any.

### St

[2018-10-03 15:38] Tschipp commented on #161
_From @capnkirok on September 1, 2018 11:12_

Ok this will work in 1.5.2. You won't get credit for the achievement however, nothing I can do about that.

[2018-10-03 15:38] Tschipp opened #162 "Crashed My Server"
_From @GeorgeOoi on August 20, 2018 7:52_

### Expected Behavior
Don't Crash my server

### Actual Behavior
Crashed my server

### Steps to Reproduce

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2 Minecraft
1.5.1.1 Animania
Server

### Screenshots encouraged
https://pastebin.com/XQEEVizv

_Copied from original issue: capnkirok/animania#634_

[2018-10-03 15:38] Tschipp commented on #162
_From @capnkirok on August 20, 2018 8:19_

Yeah, this is the third report. I'll have to put out a hotfix. Until then, avoid killing Hedgehogs :|

[2018-10-03 15:38] Tschipp commented on #162
_From @guillaumearm on September 1, 2018 8:7_

Any way to fix it passing through the `animania.cfg` config file ? This crash is very annoying :/

Anyway, thanks for your work, it's a beautiful mod, players on my server love all of your animals 🙂

[2018-10-03 15:38] Tschipp commented on #162
_From @capnkirok on September 1, 2018 8:39_

Thanks for the nice words. Well, the only way to do this is to remove the hedgehogs, which you can do from the config, but then you'll have to find new ones later.

Hoping to have an update by next weekend, if you can wait that long.

[2018-10-03 15:38] Tschipp commented on #162
_From @guillaumearm on September 1, 2018 8:54_

It's weird, when I kill hedgehogs, my server is still OK. It seems to be a random bug, when we kill some kinds of pigs ~or cows~ (I do not reproduce systematically for now)

I will paste my stacktrace here as soon as my server crashes again.

[2018-10-03 15:38] Tschipp opened #163 "Sheep and Goats won't get fed from hand feeding"
_From @mser7 on August 27, 2018 15:30_

### Expected Behavior
Hand feeding an animal the food, then it won't accept anymore for a while after feeding

### Actual Behavior
They keep eating the food, wasting it

### Steps to Reproduce
Find a farm animal beside sheep or goat
Hold down the feeding key with the food in your hand
The animal keep consuming it.

### Version of Minecraft, version of Animan

[2018-10-03 15:39] Tschipp opened #164 "Hamsters disappear when put down"
_From @littlebear22 on August 29, 2018 17:43_

### Expected Behavior
Shift right click with hamster on shoulder, and hamster will go from shoulder to ground, making an adorable popping sound.

### Actual Behavior
Shift right click with hamster on shoulder, and hamster makes the pop noise, but disappears instead of showing up on the block I'm aiming at.

### Steps to Reproduce
Shift right click on

[2018-10-03 15:39] Tschipp commented on #164
_From @capnkirok on August 30, 2018 9:10_

Weird....! Haven't seen this one before in Single Player. I've seen it happen in multi-player after a shoulder ride where the render seems to fail. Will take a peek.

[2018-10-03 15:39] Tschipp commented on #164
_From @Deshiba on August 30, 2018 12:38_

In multiplayer a relog fixes the issue. I wonder if the entity actually still exists and is invisible or if it is completely gone.

[2018-10-03 15:39] Tschipp commented on #164
_From @littlebear22 on August 31, 2018 20:39_

If it helps, I have logged in and out of that game a couple of times since then.  Still no sign of my little hamster friends.  Since they're small and hard to see, I used journey map too, and looked for the blue "pet" icons on the map that were there before they disappeared.  I did not see anything.   I'd have to assume they're all just gone.  But if

[2018-10-03 15:39] Tschipp opened #165 "Unusual lag with stuck mobs"
_From @claw4oo on August 30, 2018 8:54_

### Expected Behavior
N/A

### Actual Behavior
Animals that are stuck in water pools, naturally generated or not, cannot expect and lag quite a bit, using tickprofiler to find the problem

### Steps to Reproduce
Throw an animal, like a chicken, cow, sheep, or goat into a naturally generated pool that cannot be escaped without building out. Keep the chunk lo

[2018-10-03 15:39] Tschipp commented on #165
_From @capnkirok on August 30, 2018 9:7_

Thanks for the report. I thought I had addressed this, but will take another look.

[2018-10-03 15:39] Tschipp commented on #165
_From @Deshiba on August 30, 2018 13:10_

Last I saw anything about this the problem was that animals walked into water pools with 2 high walls with natural gen. The solution then was to have their AI prevent going down in the hole on their own.

If they are forced in however, the original issue will still be the same.

[2018-10-03 15:39] Tschipp commented on #165
_From @claw4oo on August 30, 2018 22:17_

Several versions back, I had this problem with chickens getting stuck in very odd places, sometimes I couldn't even find the chicken despite having the coordinates. Most of the chickens were around the spawn chunk.
I fixed this problem temporarily by bringing down natural chicken spawns, and killing all already existing chickens in the map.

[2018-10-03 15:39] Tschipp commented on #165
_From @claw4oo on August 31, 2018 4:4_

https://gyazo.com/ff0dde929ce8d926cdbad0c1c36aad85
Got a new picture confirming this.

https://gyazo.com/6900bdec7baa973794b94657ce42404d
This is with the problem fixed.

[2018-10-03 15:39] Tschipp opened #166 "Straw crash with "Chiseled" wood planks"
_From @littlebear22 on September 1, 2018 3:54_

### Expected Behavior
Place straw (bed) on wood planks (that happened to be a chiseled version of a forestry wood planks).

### Actual Behavior

The game crashed whilst unexpected error
Error: java.lang.IllegalArgumentException: Cannot set property PropertyEnum{name=variant, clazz=class com.animania.common.blocks.BlockStraw$EnumType, values=[straw]}

[2018-10-03 15:39] Tschipp commented on #166
_From @capnkirok on September 1, 2018 8:37_

Thanks. Looks like a compat issue with Chisel.

[2018-10-03 15:39] Tschipp commented on #166
Fixed in next release

[2018-10-03 16:09] kuroyure commented on #111
Should i remove some of those mods then ?

[2018-10-03 16:11] kuroyure commented on #111
Also that still not solves peacock problems

[2018-10-03 16:13] capnkirok commented on #111
Or just curb some of their spawns, if possible. Peacocks only spawn in Jungles and Swamps. Have you tried upping the spawn percentage in the config for Peacocks?

Also in the next update, you can choose the biomes in which all animals spawn.

[2018-10-03 16:25] kuroyure commented on #111
I mean their drops, they don't Drop their meat

[2018-10-03 17:59] Tschipp commented on #118
This is possible by adding the seeds to troughFood and chickenFood.

[2018-10-03 18:01] Tschipp opened #167 "Animals don't spawn in old chunks"
Animals should spawn in old chunks
Animals are not spawning in old chunks. So they are not replacing completely the Vanilla mobs
Steps to Reproduce
1.10.2 Single Player
Screenshots encouraged

**capnkirok commented on 8 Apr**
Hey @MrFarrelll yeah, if you add Animania to an existing world they won't spawn in the old areas. Is that what you are saying is going on with you?

**Marfjeh commented on 7

[2018-10-03 18:04] Tschipp opened #168 "Extremly low TPS with animania added on existing modpack (With Sleep ON)"
marciox25 commented 8 days ago
Expected Behavior
No TPS

Actual Behavior
Low TPS

Steps to Reproduce
Having a good amount of animals,
Wait till the night -> they go to sleep,
The tps on the server goes down till the 4~5tps.
Fixed with disabling sleep on animals. But then another problem appeared. Chichens dont lay eggs if this option is set to false.

Version of Minecraft, version of Animania, Sin

[2018-10-03 18:05] Tschipp opened #169 "[Suggestion]Placeable horse cart chest"
mser7 commented on 1 Sep
I want the chest on the horse cart to have a placeable variant that is separated with the vanilla chest
https://cdn.discordapp.com/attachments/465429280076333057/482132549691244552/2018-08-23_17.11.50.png

**capnkirok commented on 2 Sep**
I would have to make my own chest for this to work. While this is possible, I am not sure of the benefits, other than for aesthetic reas

[2018-10-03 18:19] Tschipp commented on #163
This is actually intended behavior, but while investigating this issue I realized that goats and sheep won't get fed by hand feeding.

[2018-10-03 18:34] #162 closed, assigned to capnkirok

[2018-10-03 18:44] Tschipp commented on #160
If brown Mooshrooms get added to vanilla, we well probably add them to animania too. Until then, there are no plans for brown mooshroom.
Mooshroom will eat Mycelium in the next update.

[2018-10-03 18:54] Tschipp commented on #157
While it is a nice idea, it is _currently_ out of scope for the mod. We focus on animals, not the food they produce. Animania isn't a food mod.

[2018-10-03 18:54] #157 closed, assigned to nobody

[2018-10-03 18:56] #151 closed, assigned to capnkirok

[2018-10-03 18:57] Tschipp commented on #146
This was added a while ago

[2018-10-03 18:57] #146 closed, assigned to capnkirok

[2018-10-03 18:59] Tschipp commented on #144
This will be eventually done by the addition of a manual

[2018-10-03 18:59] #144 closed, assigned to capnkirok

[2018-10-03 18:59] Tschipp commented on #143
Cats are on our roadmap.

[2018-10-03 18:59] #143 closed, assigned to nobody

[2018-10-03 19:07] Tschipp commented on #139
We added a random animal egg a while ago

[2018-10-03 19:07] #139 closed, assigned to capnkirok

[2018-10-03 19:14] #137 closed, assigned to nobody

[2018-10-03 19:16] Tschipp commented on #136
This is probably fixed, closing.

[2018-10-03 19:16] #136 closed, assigned to capnkirok

[2018-10-03 19:16] Tschipp commented on #135
Is this still an issue?

[2018-10-03 19:17] Tschipp commented on #134
They do now.

[2018-10-03 19:17] #134 closed, assigned to nobody

[2018-10-03 19:19] Tschipp opened #170 "Sheep backside texture 1 pixel off"
And with backside I mean ass.

[2018-10-03 19:21] Tschipp commented on #132
While vanilla seeds can be placed on the floor, the config can be edited to allow other seeds to be placed in the trough.

[2018-10-03 19:21] #132 closed, assigned to nobody

[2018-10-03 19:22] Tschipp commented on #130
This is definitely out of scope, but it's a cute idea.

[2018-10-03 19:22] #130 closed, assigned to nobody

[2018-10-03 19:24] Tschipp commented on #128
This is rather redundant, as trough automation is very easy now.

[2018-10-03 19:24] #128 closed, assigned to nobody

[2018-10-03 19:27] Tschipp opened #171 "The "showParts" flag is ignored when rendering goat's parts"

[2018-10-03 19:29] Tschipp commented on #123
This has been added

[2018-10-03 19:29] #123 closed, assigned to nobody

[2018-10-03 19:31] Tschipp commented on #126
This can be done by various different methods now

[2018-10-03 19:31] #126 closed, assigned to nobody

[2018-10-03 19:34] Tschipp commented on #124
They can now

[2018-10-03 19:34] #124 closed, assigned to nobody

[2018-10-03 19:35] #118 closed, assigned to nobody

[2018-10-03 19:37] Tschipp commented on #117
In my opinion, this would be a pretty useless feature. If something conflicts with shift, just place down the pet.

[2018-10-03 19:37] #117 closed, assigned to capnkirok

[2018-10-03 20:07] Tschipp commented on #121
The item may appear in the trough, but it actually isn't. Only on the client.

[2018-10-03 20:07] #121 closed, assigned to Tschipp

[2018-10-04 02:00] darthvader45 commented on #113
Agreed.

On Wed, Oct 3, 2018 at 11:15 AM Tschipp <notifications@github.com> wrote:

[2018-10-04 08:32] Deshiba commented on #49
Mobs shouldn't have a problem spawning in grass, tall grass, saplings and the like. I reckon that if the shrubbery prevents spawns in conquest that it's a problem on the shrubs end?

[2018-10-04 09:20] Tschipp commented on #49
Yes, @Deshiba you're right. iirc, most shrub plants didn't behave like normal plants would (they weren't broken instantly, they stayed floating in midair... etc.) So I also think they probably forgot to label the blocks as transparent.

[2018-10-04 10:57] Crowfooted commented on #168
I have had a similar issue, except the TPS doesn't just drop - the server has a watchdog crash saying a single tick took 60 seconds. Seemed to be an issue with chickens, and seemed to be related to a check for other entities around them, but I don't know if it applied to other animals.

A related issue with this is that disabling sleep doesn't actually disable sleep itself, but disables the sleep

[2018-10-06 17:38] DrunkBlood opened #172 "Fire escape does not trigger in Sleep Mode"
### Expected Behavior
Animals run away(aimless) when they are on fire

### Actual Behavior
Animals stay sleeping although being burnt alive

### Steps to Reproduce
1. Get Animals to sleep
2. Set a FireBlock (also by Flint & Steal) under them
3. Watch

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2; 1.5.1.1 ; SG with LAN as host

### Screenshots encouraged

[2018-10-06 17:42] capnkirok commented on #172
Oops. Yeah, they react when attacked... but not from fire... thanks.

[2018-10-07 13:22] capnkirok commented on #172
Actually, it looks like this has nothing to do with sleep. They wake up, but they don't run. And they don't run away when they are awake either.

[2018-10-07 15:20] capnkirok commented on #172
Ok this is fixed in the next release.

[2018-10-07 15:24] capnkirok commented on #171
Ok this is fixed in next release.

[2018-10-07 15:25] capnkirok commented on #169
I've decided against this one.

[2018-10-07 15:25] #169 closed, assigned to nobody

[2018-10-07 15:53] capnkirok commented on #145
Added in next release

[2018-10-07 18:02] capnkirok commented on #170
Lol

[2018-10-07 18:07] capnkirok commented on #135
Yes, it still happens. It just happened to me while playing vanilla.

[2018-10-07 18:26] capnkirok commented on #165
Looks like they still go in water when they can't get out.

[2018-10-08 06:43] Deshiba commented on #170
What do donkeys have to do with goats?

Or did you mean buttocks? 😁

[2018-10-09 07:47] Tschipp commented on #135
Well if it happens in vanilla, then it’s not our issue to fix  ¯\__(ツ)__/¯

[2018-10-11 19:36] Tschipp commented on #155
This is fixed in dev

[2018-10-13 08:53] djdanby opened #173 "Get a lot of error messages when I start my Forge Server"
I get a lot of error messages when I start my Forge Server. Whether this error message affects the server I do not know. But I wanted to report it anyway, if relevant.
If further information is needed, please answer here. The log file is very long, so I copied the most relevant lines to get the overview.

### Steps to Reproduce
I starting my server

### Version of Minecraft, version of Animania, S

[2018-10-13 13:02] Tschipp commented on #173
This is intended, those are just warnings

[2018-10-13 13:02] #173 closed, assigned to nobody

[2018-10-14 08:00] mser7 opened #174 "Suggestion: Animania version of The Killer Rabbit"

[2018-10-14 08:02] mser7 commented on #172
Would this fix the Ice and Fire runaway behavior issue?

[2018-10-14 10:04] mser7 commented on #169
Perhap you can make the horse cart chest look like the vanilla chest instead?

[2018-10-14 10:12] mser7 opened #175 "Suggestion: Config option to have spider and cave spider attack small animals"
It would make sense that giant spider hunt weak and small animals, like pigs, goats, sheeps and critters. This create another challenge for players to build extra protection for their animals

[2018-10-14 10:18] mser7 commented on #168
yes

[2018-10-15 12:04] Deshiba commented on #175
Spiders aren't regular farm animals, I think this is out of scope for this mod. But hold on till the devs reply.

[2018-10-15 18:35] SlayerTheChikken commented on #102
It may have been an issue with my router, Im going to do some tests soon, I hope D=

[2018-10-16 08:02] Deshiba commented on #24
@capnkirok Maybe it's an idea to put every suggestion that you want to implement on the wiki?

[2018-10-18 12:03] bbbbbbbbba commented on #93
The cause of this bug seems to be this line in `EntityHedgehogBase.java`:

    this.tasks.addTask(13, new GenericAIHurtByTarget(this, false, new Class[0]));

`GenericAIHurtByTarget` belongs to `targetTasks`, not `tasks`. It is a subclass of `EntityAITarget`, which means its `resetTask()` will set the hedgehog's attack target to null, "pulling the target from under" the `EntityAIAttackMelee` alread

[2018-10-18 12:49] Tschipp commented on #93
Wow, this is very detailed, thanks for looking into this so closely. I will implement this fix immediately.

[2018-10-18 12:58] Tschipp commented on #103
Closing this duplicate

[2018-10-18 12:58] #103 closed, assigned to capnkirok

[2018-10-18 12:58] Tschipp commented on #91
Closing this duplicate

[2018-10-18 12:58] #91 closed, assigned to capnkirok

[2018-10-18 13:58] capnkirok commented on #93
Oh my god. Thank you so much. This one was killing me....

[2018-10-21 09:34] KenyMylankca opened #178 "Crash While Travelling In World In Spectator Mode (/gamemode 3)"
it just crashed while im travelling in my world in single player in gamemode 3. **it crashed when i switch to gamemode 1**(creative mode)(after i enter command _/gamemode 3_ while in blocks).
[crash-2018-10-21_12.32.24-server.txt](https://github.com/capnkirok/animaniamod/files/2499014/crash-2018-10-21_12.32.24-server.txt)

animania: 1.5.1.1 (mc 1.12.2)
edit: i was in walls(blocks) when switch to c

[2018-10-21 10:02] Tschipp commented on #178
I'm pretty sure this is a duplicate of #93, and thus fixed in the next release

[2018-10-21 10:02] #178 closed, assigned to nobody

[2018-10-21 20:01] instinxx commented on #168
I have a similar issue as @Crowfooted. Server randomly crashes due to watchdog timeout.

forge-1.12.2-14.23.4.2760
Animania-1.12.2-1.5.1.1

Crashlog - https://pastebin.com/5WL1Q82n
Possibly related to https://github.com/capnkirok/animaniamod/issues/104
And it seems that chicken sleeping is the issue.

 `java.lang.Error: ServerHangWatchdog detected that a single server tick took 94.80 seconds (shou

[2018-10-21 21:35] capnkirok commented on #174
I'm just going to stealth close this. No comment.

[2018-10-21 21:35] #174 closed, assigned to nobody

[2018-10-21 21:43] capnkirok commented on #168
We have a fix coming in the next update, which will address this. Until then, you can turn sleep off if you are being affected.

[2018-10-22 02:55] capnkirok commented on #104
I think we have this one solved. We completely changed the search algorithm and only run it once per AI firing (caching it in the process). Gonna do some testing the next coupla days.

[2018-10-22 10:34] Tschipp commented on #154
I'm I'm understanding your suggestion correctly, you want a new breed of cow that turns into a random other breed when it is tamed. This is not really something that fits this, so I'm closing this.

[2018-10-22 10:34] #154 closed, assigned to nobody

[2018-10-22 22:24] OreCruncher commented on #168
~~I am having a similar problem, but it is client side FPS (not TPS) that gets drastically reduced.  This only occurs if the sleeping animals are within the view frustrum.  I don't think it is generically a sleeping problem, but rather the fact that these cows fell asleep on top of a trough next to a fence.  When I forced the time to day, and broke the fence to remove the collision the client FPSw

[2018-10-23 03:32] njtxus opened #179 "cart detaching"
### Expected Behavior
cart staying linked

### Actual Behavior
cart or wagon becomes detached very easily and with no obstacles in way. tried on flat road and detaches at around the same point each time. again with nothing in the way and no difference on terrain.

### Steps to Reproduce
pull a cart or wagon a fair distance.

### Version of Minecraft, version of Animania, Single Player or Server
12

[2018-10-23 18:49] Waynekosimoto opened #180 "Cheese Mold crashing game with lots of mods"
### Expected Behavior
Cheese mold gets filled with fluid

### Actual Behavior
Game crashes

### Steps to Reproduce
1) Place down cheese mold
2) Right-click water or milk bucket on cheese mold
3) Crash

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2, 1.5.1.1, Single Player

### Crash Report
[Crash](https://hastebin.com/ujepanecaf.cs)

### Comment
Without any other mod

[2018-10-23 19:04] Waynekosimoto commented on #180
After doing some testing I have found the culprit. There seems to be some incompatibility with the Augment Interactions mod.

[2018-10-23 19:15] #180 closed, assigned to nobody

[2018-10-23 21:59] capnkirok commented on #179
Question, what version of Animania are you running?

[2018-10-24 00:47] njtxus commented on #179
apologies. i should have stated 1.5.11 is the version

[2018-10-24 01:35] capnkirok commented on #179
Thanks for the follow up. I had made some changes in the previous version to combat this, but it sounds like there are still issues. I will take another look.

[2018-10-24 18:24] Ruukas97 commented on #121
Isn't that still an issue?

[2018-10-25 14:47] KenyMylankca commented on #93
PLEASE fix this, it happens so often...
[crash-2018-10-25_17.45.30-server.txt](https://github.com/capnkirok/animaniamod/files/2515446/crash-2018-10-25_17.45.30-server.txt)

[2018-10-25 15:08] Tschipp commented on #121
Not really and there's nothing I can do about it. I can't just handle item insertion on the server, because if the server has more items in the config, those wouldn't show up to the client as valid items. Also, no items can ever be duplicated.

[2018-10-25 18:27] Deshiba commented on #93
@KenyMylankca Did you see the label?
" fixed in next release "

[2018-10-25 21:58] bbbbbbbbba commented on #93
@KenyMylankca If you can't wait, you can always pull the latest code from github and compile it (it's kind of easy with gradle). The fix should be in the repo already.

[2018-10-26 00:07] Sunconure11 opened #181 "[SUGGESTION] Prime horse meat"
Most of the other meats have prime variants, why not give a prime version for horses?

[2018-10-26 12:23] Tschipp commented on #181
This is not needed, as there is only one type of horse for now. We may revisit them if we add more horses.

[2018-10-26 12:23] #181 closed, assigned to nobody

[2018-10-28 09:51] Malrama opened #182 "Rabbits don't attack when I attack them (Animation fine but no dmg)"
Hello :3

I just build this mod with the last commit you did 5 hours ago, "Manual Update and Sweep" and everything is fine so far except one thing:

Once you attack a Rabbit, it starts to follow you and play some attacking animations (like jumping left and right) but it deals no dmg. Now, I am not sure if it is a bug or if you just haven't implemented it yet nor if you have the intention to do so.

[2018-10-28 11:49] capnkirok commented on #182
Haven't finished testing the release yet, but thanks for the heads up. Rabbits are not supposed to attack.

[2018-10-28 18:04] capnkirok commented on #182
Fixed

[2018-10-28 18:04] #182 closed, assigned to capnkirok

[2018-10-28 19:53] #135 closed, assigned to capnkirok

[2018-10-28 22:13] capnkirok commented on #87
Ok, this is fixed in 1.5.2

[2018-10-29 00:11] #27 closed

[2018-10-29 00:11] #76 closed

[2018-10-29 00:11] #87 closed

[2018-10-29 00:11] #89 closed, assigned to capnkirok

[2018-10-29 00:11] #93 closed, assigned to capnkirok

[2018-10-29 00:11] #94 closed, assigned to nobody

[2018-10-29 00:11] #96 closed, assigned to capnkirok

[2018-10-29 00:11] #98 closed, assigned to capnkirok

[2018-10-29 00:11] #99 closed, assigned to nobody

[2018-10-29 00:11] #113 closed, assigned to capnkirok

[2018-10-29 00:11] #138 closed, assigned to capnkirok

[2018-10-29 00:11] #145 closed, assigned to capnkirok

[2018-10-29 00:11] #152 closed, assigned to Tschipp

[2018-10-29 00:11] #153 closed, assigned to capnkirok

[2018-10-29 00:11] #155 closed, assigned to capnkirok

[2018-10-29 00:11] #160 closed, assigned to capnkirok

[2018-10-29 00:11] #161 closed, assigned to capnkirok

[2018-10-29 00:11] #163 closed, assigned to nobody

[2018-10-29 00:11] #166 closed, assigned to capnkirok

[2018-10-29 00:11] #170 closed, assigned to nobody

[2018-10-29 00:11] #171 closed, assigned to capnkirok

[2018-10-29 00:11] #172 closed, assigned to capnkirok

[2018-10-29 00:12] capnkirok commented on #168
All on this thread, please try the latest version (1.6) with Sleep on, and see if the improvements help.

[2018-10-29 04:23] Sunconure11 opened #183 "[SUGGESTION] Cross-mod compat with rustic for beehives"
Both add their own apiary mechanics, as well as products made from them. Would it be possible to add some support for the two mods together?

[2018-10-29 06:06] AngelusQQ opened #184 "Server Crash when Client Enters Server"
Expected Behavior:
- Made a new world server and Login

Actual Behavior:
- Made a new world server, login and server immediately crashes

Minecraft 1.12.2 Server
forge-1.12.2-14.23.5.2768
Animania 1.12.2 version 1.6

[2018-10-29 08:14] Tschipp commented on #184
Hmmm... didn’t notice that in my testing... will investigate... @capnkirok if this is true we will need a hotfix

[2018-10-29 09:25] davidPoult commented on #184
Can also confirm this is happening to me,

Minecraft 1.12.2 Server
forge-1.12.2-14.23.5.2772
Animania 1.12.2 version 1.6

[code]

[2018-10-29 10:13] digi-tal-it commented on #184
Yep, same problem here:

https://pastebin.com/Bw3g4jqr

[2018-10-29 11:52] capnkirok commented on #184
Looks like a conflict with Thermal Expansion. We'll need to do a hotfix.

[2018-10-29 15:49] KenyMylankca commented on #184
i'm having the same crash. that in regItemEggColors

[2018-10-29 17:33] TheRealDadbeard commented on #184
Jupp the same!

https://hastebin.com/pepicajujo.rb

[2018-10-29 22:29] Zarl21 opened #185 "Server Crash: Entity Tick"
### Expected Behavior
Not crashing

### Actual Behavior
Crashing

### Steps to Reproduce
Unclear. For now I've restarted the server, will keep this issue report updated if it happens again. From the crash report it appears to have been caused by trying to tick a hedgehog and running into a null pointer somewhere along the way. Possibly it despawned? Neither of my players online at the time were do

[2018-10-29 23:20] Tschipp commented on #185
Please update to the latest version.

[2018-10-29 23:20] #185 closed, assigned to nobody

[2018-10-29 23:21] #184 closed, assigned to nobody

[2018-10-30 00:56] satoboom opened #186 "Game Continues to Crash 1.6.0.1"
### Expected Behavior
Opening new game and it operates fine

### Actual Behavior
The game crashes after a second of opening a new world

### Steps to Reproduce
I created a new world and the game crashed

### Version of Minecraft, version of Animania, Single Player or Server
1.6.0.1, singleplayer

[2018-10-30 01:42] Sunconure11 opened #187 "Allow easier compat in mod development"
This mod has a stupidly large amount of classes, for each breed, including for both sexes of said breed, and the babies. Would it be possible to add some way of allowing mods to pick up on your mobs in a much, much easier way? It is incredibly tedious to hunt down all of the class names, for starters. I.e what if we want to have something target your goats as a whole, for instance, but can't be as

[2018-10-30 01:52] capnkirok commented on #187
Well, you didn't put it very nicely, but it's hard to disagree. We would have to do a pretty big re-factoring. But we'll discuss.

[2018-10-30 01:53] capnkirok commented on #186
Can you post the full error, or link to it in pastebin? Can't tell what the issue is without the error log.

[2018-10-30 02:00] capnkirok commented on #186
I got the full error in my email. Looks like a conflict with Wurmcraft, where it's trying to display something that doesn't exist. Would recommend you contact that author and send the full error.

[2018-10-30 02:45] satoboom commented on #186
Oh okay. Um, what author are you referring to?

[2018-10-30 03:36] capnkirok commented on #186
Wurmcraft....

[2018-10-30 06:41] Sunconure11 commented on #187
Alright so I may get back with you regarding some cross-mod compat. Let's just say a project of mine is going a bit more public on the 31st.

This issue was created as a result of frustration from the class hell.

[2018-10-30 08:28] DrakoAlcarus opened #188 "Opening Manual in Akashic Tome Turns Akashic Tome into Animania Manual"
### Expected Behavior
To open book in Akashic Tome and have all other books still be available

### Actual Behavior
Deletes Akashic tome and leaves it only as Animania manual after opening book. Punching the air does not reset the book, and it's as it's base item.

### Steps to Reproduce
1. Install Akashic Tome
2. Craft Animania manual with Akashic Tome
3. Select book and exit after book is opened

[2018-10-30 08:56] Tschipp commented on #188
This is probably animania, hadn‘t planned for the akashik tome

[2018-10-30 09:00] Tschipp commented on #187
Right, so you’re somewhat right. However, all animals share certain things, all goats extend EntityAnimaniaGoat, cows extend EntityAnimaniaCow and so on. Additionally, all Animania animals implement IAnimaniaAnimal, and many other interfaces that define their behavior. I suggest looking through the 'com.animania.common.entities.interfaces' folder. In there you can find all available interfaces and

[2018-10-30 09:05] Tschipp commented on #186
Yeah, we moved an renamed that interface from `com/animania/common/entities/AnimaniaAnimal` to `com.animania.common.entities.interfaces.IAnimaniaAnimal`

[2018-10-30 09:07] DrakoAlcarus commented on #188
That's fair. Really loving the mod. Almost too much. Thanks for your hard work and great models.

[2018-10-30 09:27] Tschipp commented on #188
Was a simple bug to fix, fixed in next release (can't say when that will come though)

[2018-10-30 11:06] DrakoAlcarus commented on #188
On another note, my trough has charcoal in it:
![2018-10-30_04 05 07](https://user-images.githubusercontent.com/12781728/47714080-1c200400-dbf9-11e8-9414-6ee11d861398.png)

Same version and I just poured water into it. Nothing else. Would you like me to make a new issue for this?

[2018-10-30 11:26] Tschipp commented on #188
Yes please, it has already been reported, but not here on github

[2018-10-30 11:28] DrakoAlcarus commented on #188
Will do what I can tomorrow. It's a bit late for me.

On Tue, Oct 30, 2018, 4:26 AM Tschipp <notifications@github.com> wrote:

[2018-10-30 11:34] Tschipp commented on #188
Alright I'll do it

[2018-10-30 11:36] DrakoAlcarus commented on #188
Sorry, m8. I should have done it earlier.

On Tue, Oct 30, 2018, 4:34 AM Tschipp <notifications@github.com> wrote:

[2018-10-30 11:37] Tschipp opened #189 "Water renders wrongly in trough"
Reported by DrakoAlcarus, DuskArtemis/ApolloDawn

![2018-10-30_04 05 07](https://user-images.githubusercontent.com/12781728/47714080-1c200400-dbf9-11e8-9414-6ee11d861398.png)

[2018-10-30 11:37] Tschipp commented on #188
No worries

[2018-10-30 22:27] #188 closed, assigned to nobody

[2018-10-30 22:27] #189 closed, assigned to nobody

[2018-10-31 07:39] Malrama commented on #183
I endorse this! :3 It would be really cool

[2018-10-31 07:46] Malrama opened #190 "[Suggestion] Spawn less animals [Crazy! :O]"
Hello everyone :)

Before we start I would like to say that this is not a bug nor anything gamebreaking. This is just a feedback from my side and is totaly up to personal taste, let's get into it.

Now, I am using the current version of Animania and I really love this mod. It became one of my "must have" mods. Thank you :)

But there is one this that really annoys me: It is the spawn rate of anima

[2018-10-31 10:19] Tschipp commented on #190
You can configure the spawn rates in the config

[2018-10-31 10:21] Tschipp commented on #183
What kind of compat are we talking about?

[2018-10-31 10:29] Malrama commented on #190
I see ... sorry I didn't know it was a thing. But anyway, if the system works as I think it does, it just goes nuts.

Let me get this right: You can set how many animals of each species can spawn in one chunk. So the default system is: 40 pigs per chunk, 40 amphibians per chunk ... and so on for each species. So let me add this up. 12 (diffrent species) * 40 = 480 (!!) Animals per chunk at it's be

[2018-10-31 11:35] capnkirok commented on #190
- It's not per chunk, it's per all loaded chunks, so it doesn't work the way you are saying
- Lower the values to your liking in the config (you may have to do some culling)
- Might also suggest you turn 'manual breeding' to true (this slows down repopulation)
- You can also increase the 'gestation period'
- The settings work fine for most people. Interactions with other mods, especially on server

[2018-10-31 13:40] OreCruncher commented on #187
Touching on this a bit I noticed that the JAR now on CurseForge has different interfaces for Animania mobs than the prior release (which had the support hell that Suncore11 was referring to).  Is this correct?

[2018-10-31 15:13] Tschipp commented on #187
Yes, I added a ton of new interfaces that are used to describe the animals. You can find those interfaces here: https://github.com/capnkirok/animaniamod/tree/1.12/src/main/java/com/animania/common/entities/interfaces

[2018-10-31 17:34] TimGoll opened #191 "3D Spawnegg Rendering Bug"
### Expected Behavior
display items in JEI without changing the screencolour

### Actual Behavior
screen gets dark when animania items are displayed:
![image](https://user-images.githubusercontent.com/13639408/47807039-66110300-dd3b-11e8-8861-a5a862a99725.png)
It only happens since the last animania update and there aren't any problems with other mods

### Steps to Reproduce
searching for @animani

[2018-10-31 17:36] TimGoll commented on #191
Actually, as soon as I have any animania item in my hand my screen gets dark

Normal:
![image](https://user-images.githubusercontent.com/13639408/47807194-c9029a00-dd3b-11e8-9ff0-a5ba305f61d5.png)

Item in Hand:
![image](https://user-images.githubusercontent.com/13639408/47807206-d029a800-dd3b-11e8-944d-19caa6129ff4.png)

[2018-10-31 17:39] TimGoll commented on #191
Update: it only happens with your new fancy 3D spawn "eggs"

[2018-10-31 17:49] TimGoll commented on #191
Update: Optifine isn't the problems, the shader I'm using causes these rendering bugs. I'm using [BSL v7.0 ](http://bitslablab.wixsite.com/main/bsl-shaders)

Other than the rendering error, I like the default spawneggs way more than the new 3D ones

[2018-10-31 19:11] Sunconure11 commented on #183
For starters, both add a honey fluid.

[2018-11-01 01:54] VonZeeple opened #192 "Dependency Cycle (Incompatibility with Better With mods)"
### Expected Behavior

Forge loading the mods

### Actual Behavior

Forge stops and display following text:

Note: Quark dependency seems to be the issue, no problem using animania version prior to 1.6 .

### Steps to Reproduce

Mods installed appearing in the cycle:
-Animania 1.6 or above
-Cofhcore 4.6.1.22
-Thermal expansion 5.5.2.39
-codechickenlib 3.2.2.353
-Quark 1.5-30
-Betterwithmods 2.3.16

[2018-11-01 03:02] OreCruncher opened #193 "Scattered seeds don't break in an FTB Utilities claim"
### Expected Behavior
When a chicken feeds off the seeds scattered on the ground the block would break similar to that of an unprotected chunk.

### Actual Behavior
The scattered seed block doesn't break.

### Steps to Reproduce
Scatter seeds in an claim protected chunk and wait for mobs to eat it

### Version of Minecraft, version of Animania, Single Player or Server
MC 1.12.2; Animania 1.5.1.1;

[2018-11-01 08:23] Tschipp commented on #191
You can turn off the fancy eggs in the config. I’m gonna take a look at the rendering issues.

[2018-11-01 08:44] TimGoll commented on #191
Ahh, that's neat. Thank you

[2018-11-01 09:47] Tschipp commented on #192
The quark dependency has been in for a while now. My guess is something has changed with quark.

[2018-11-01 12:51] VonZeeple commented on #192
Making a quick scheme, it seems that Thermal Expansion dependency added by the "Fancy Egg stuff, Bee stings" commit that causes the problem. I Renamed the issue

[2018-11-01 17:48] Deshiba commented on #183
@Tschipp I think he means oreDict compat. Both Erebus and Rustic use the Forestry name for.honey for the fluid and dropHoney for honey drop. Source:

https://github.com/the-realest-stu/Rustic/issues/62
https://github.com/ForestryMC/ForestryMC/issues/831

@Sunconure11 If you meant something else it helps being as specific as you can. You're being vague.

[2018-11-01 18:18] Sunconure11 commented on #183
Rustic honey can be made into mead, for one thing. Rustic apiaries also grow plants around them a bit, and require bees in the form of items.

[2018-11-01 22:01] Tschipp commented on #192
Don't think it's thermal expansion either, my game loads just fine with both quark and thermal expansion installed.

[2018-11-01 23:21] VonZeeple commented on #192
I replicated the bug with a fresh install:
Forge 14.23.5.2768
-Animania 1.6.0.2
-AutoRegLib 1.3-20
-Cofhcore 4.6.1.22
-CofhWorld 1.3.0.6
-Thermal expansion 5.5.2.39
-Thermal Dynamics 2.5.3.16
-Thermal Foundation 2.6.1.22
-codechickenlib 3.2.2.353
-Quark 1.5-30
-Betterwithmods 2.3.16-998
-craftstudiaapi 1.0.0
-RedstoneFlux 2.1.0.6

The dependency cycle is solved by disabling Better with mods, or Th

[2018-11-02 11:47] V10lator commented on #167
Could a possible fix for this be to add a capability ( https://mcforge.readthedocs.io/en/latest/datastorage/capabilities/ ) to a chunk when it gets created/populated, then check for it when the chunk loads and if the capability is not there spawn animals (and ofc. set the tag, so basically have a function to spawn the animals and set the tag for a chunk which gets called from the chunk generation/

[2018-11-02 13:12] Deshiba commented on #183
OreDict should be sufficient for Rustic to use the Animania Honey for mead.
The Rustic apiaries are their own mechanic that provide their own bee item, I see no need for Animania to provide any sort of support for this as there is no interaction between the two different bees...

[2018-11-02 14:00] Tschipp commented on #183
I agree. We can do oredict.

[2018-11-02 14:04] V10lator opened #194 "Client crash when opening manual"
### Version of Minecraft, version of Animania, Single Player or Server
1.12.2
1.6.0.2
Server

### Screenshots encouraged
Crashlog: https://paste.dimdev.org/yazuvemife.mccrash?fbclid=IwAR1ZPTE1W24PjxRFaLhmtaUl04wUlBzKojJDjWadeetO3J9g2DhOrg0SzTA

[2018-11-02 18:03] Tschipp commented on #194
Hmm strange, do you remember what the last page of the manual was, when you closed it? To get rid of this issue, I would throw away that manual and craft a new one.

[2018-11-02 19:58] V10lator commented on #194
According to the player the book was newly crafted and opened for the first time. Maybe its worth to note that he used a book in single player before joining multiplayer.

[2018-11-02 20:12] capnkirok commented on #194
Also curious... do you have any of the Animania animals set to not spawn?

[2018-11-02 23:05] Tschipp commented on #194
Did he modify the animania jar in any way?

[2018-11-03 01:04] breadguyyy opened #195 "[Suggestion] Cuisine compat"
Would love to see some default compatibility with the foods, crops and seeds added by cuisine. I noticed that mods like harvestcraft, biomes o plenty, and simple corn have foods automatically listed in the animania config for things like the trough, foods for different animals, etc. and I think cuisine would make a good addition to that list. I can definitely see it getting more popular in the fut

[2018-11-03 09:34] Deshiba commented on #195
The config allows you to configure extra items that can be placed in the trough. The defaults are in there for example, you can add your own. Look in your config for the "Food Items that can be placed in the trough" line and add cuisine:[fooditem] to the list.

[2018-11-03 12:06] Pentasis commented on #183
I just noticed that the animania honey seems to overwrite the rustic honey. At least the rustic mead cannot be made if animania is present.

[2018-11-03 12:25] V10lator commented on #194
No.

No.

[2018-11-03 12:29] V10lator opened #196 "[SUGGESTION] Send pregnancy timer only once a second"
Right now the pregnancy timer is shown in ticks (WAYLA). I think (didn't look at the codes) that means there's a packet sendet to nearby clients each tick for each pregnant animal. Why not change the timer to seconds and send the packets each seconds instead? :)

[2018-11-03 12:36] V10lator opened #197 "99% female animals"
Thre are mostly only female animals, making it hard to breed. This might be connected with bug #167 as it looks like (might be wrong on this) male animals spawn in new chunks only.

//EDIT: To get some numbers:
\> 200 female animals where found.
Only 3 male animals where found.

[2018-11-03 18:51] Tschipp commented on #196
We are not sending any packets. We are reading the data from the entity that waila gives to us and display it.

[2018-11-03 18:51] #196 closed, assigned to nobody

[2018-11-03 18:58] Tschipp commented on #197
Nice catch, this must have slipped by when we updated/rewrote some stuff.

[2018-11-04 09:39] Tschipp commented on #197
PR fixes this

[2018-11-04 10:28] mser7 opened #202 "Suggestion:Actually Additions's earthworm"
It isn't a mob, but rather, an items, and it sounds more suitable for this mod

[2018-11-04 10:31] mser7 opened #203 "Can continously dye sheep with the same dye"
### Expected Behavior
Sheeps won't accept any dye with the same color of the their wools

### Actual Behavior
They accept it nonetheless

### Steps to Reproduce
Find a dyeable sheep
Have a stack of dyes
Click and hold right click with that stack on your hand, pointing at the sheep, and the dyes keep getting consumed

### Version of Minecraft, version of Animania, Single Player or Server
MC 1.12.2

[2018-11-04 10:34] mser7 opened #204 "Suggesgtion:Crabs"
CRABS:
-----------------------------------------------------------------
General informations:Crabs are aquatic bottom dwellers, many common crabs are harvested mainly for their meat, crabs can be cool ambient critters, there are also landcrabs. They are fearsome looking and much tougher than fishes, they should have the same hp like fishes. They will be an excellent additions for Animania when th

[2018-11-04 10:47] Tschipp commented on #203
Right, but why would you dye a sheep with the same color multiple times?

[2018-11-04 10:48] Tschipp commented on #202
What are you talking about?

[2018-11-04 10:52] mser7 commented on #203
I was holding down the right click button since I expect them to only take 1 of my dye.

No, actually, it was a test, I was wonder if I apply bone meal, on a natural white sheep would it turn the wools color whiter, since there are custom sheep wools in the mod. It doesn't but then I thought if I discovered a bug and here we are.

[2018-11-04 10:54] mser7 commented on #202
Here, I love it and it is perfect for this mod, sorry for not specific it is a feature of a mod
https://ftb.gamepedia.com/Worm_(Actually_Additions)

[2018-11-04 10:58] mser7 commented on #203
Updated

[2018-11-04 15:06] Peach774 opened #205 "Crash on World Load"
### Expected Behavior
World Loads

### Actual Behavior
Game Crashes

### Steps to Reproduce
Load a world with animania animals in it.

### Version of Minecraft, version of Animania, Single Player or Server
1.12.2, 1.6.0.2, Singleplayer

### Screenshots encouraged
Crash Log: https://paste.dimdev.org/oyeyulison.mccrash

[2018-11-04 15:09] Peach774 commented on #205
This does not happen every time

[2018-11-06 16:43] HentaiHamster opened #206 "animals bug, or something."
### Expected Behavior
animals eating and drinking from troughs

also I found that I cant use a lead on baby animals, and some sheep/goats

### Actual Behavior
animals (2 cows and 3 sheep) wont eat or drink from troughs and they would rather stare at my crops and grass growing outside their animal pens I have them in.

### Steps to Reproduce
idk?
I've had these animals for like 10 minecraft days af

[2018-11-07 19:11] PABadger commented on #206
I noticed this happening too. The goats just stood and stared at a water source block outside their enclosure. I fed and watered them by hand, and they moved away, but then they got thirsty again and went back to staring, even with two troughs full of water right next to them.

Also running 1.6.0.2. Behavior exactly as above, just with a water source block.

I'm running SSP with about forty mods,

[2018-11-07 21:39] instinxx commented on #168
Using
Animania-1.12.2-1.6.0.2

Possibly same issue. Crashlog is here https://pastebin.com/7rvd3nyw
Snippit - -- Head --
Thread: Server Watchdog
Stacktrace:
	at net.minecraft.world.gen.ChunkProviderServer.func_186028_c(ChunkProviderServer.java:89)
	at net.minecraft.world.gen.ChunkProviderServer.func_186025_d(ChunkProviderServer.java:135)
	at net.minecraft.world.World.func_72964_e(World.java:310)
	a

[2018-11-08 04:48] Ophilla opened #208 "Thirsty Animals Ignore Troughs"
### Expected Behavior
When animals are hungry/thirsty, they will look for a filled trough and eat/drink.

### Actual Behavior
My cattle, sheep, chickens, and peafowl prefer to eat grass or my nearby crops and drink the nearby lake/waterfall inside my house and they will all crowd into one corner of the corral/barn and will not leave until I put a lead on them and pull them away. Even when I'm hold

[2018-11-08 04:53] Ophilla commented on #208
Oops, it appears someone beat me to this. I had this post unfinished for a few days and didn't check for a new post before I submitted it. I suppose it can be deleted.

[2018-11-08 05:39] goalcam commented on #168
I haven't experienced crashing on my server, but since moving to 1.6.x, I've noticed my tickrate crashing through the floor during night if sleep is turned on. Daytime performance is good.

I reverted back to the last version of 1.5.x and the problem disappeared.

[2018-11-08 07:37] Deshiba commented on #208
There have been several reports on github and on the discord. The issue is being looked into, leave this one up for now. There might be some info in here that isn't in some other reports.

Also, could you add your modlist to this post? It might be a compat issue since this isn't happening for everyone.

[2018-11-08 12:20] capnkirok commented on #168
Another report... https://paste.ee/p/dfAtn

[2018-11-09 13:18] SlayerTheChikken commented on #102
I think you can close this issue, everything SEEMS to be working fine now

[2018-11-10 04:08] Ophilla commented on #208
Of course. :) My mod list is added at the bottom.

[2018-11-10 06:44] mser7 opened #209 "Straw bed can be replaced like tallgrass"
### Expected Behavior
The block will be placed at another space that is not occupied by the bed

### Actual Behavior
When right click a straw bed with a block, it replaces the bed, like tallgrass

### Steps to Reproduce
Just right click the bed with any block

### Version of Minecraft, version of Animania, Single Player or Server
MC 1.12.2
Animania 1.6.0.2
SSP

### Screenshots encouraged

[2018-11-10 14:51] #102 closed, assigned to nobody

[2018-11-10 14:51] Tschipp commented on #209
This is intended behavior

[2018-11-10 14:53] mser7 commented on #209
For real? This is very annoying, why? Can't you at least have the block don't delete it if shift clicked?

[2018-11-10 15:00] mser7 commented on #209
Even tiny blocks such as flowers, carpet, string or wooden button don't follow this behavior.

[2018-11-10 15:09] Tschipp commented on #209
Sure, if you find it annoying we can change it.

[2018-11-10 19:37] Luke616 opened #210 "Animals clipping through walls and suffocating"
### Expected Behavior
Animals do not path into walls and suffocate

### Actual Behavior
Animals keep clipping into walls and suffocating. I've specifically noticed this happening to chickens and cows.

### Steps to Reproduce
Set up a farm and house some cows and chickens near to a wall or corner. Here are some examples of specific places where animals are dying:

![image](https://user-images.githu

[2018-11-10 20:48] ladyGique opened #211 "Removing Animania"
I am trying to remove Animania from my server, but when I remove the mod, my server says :

And the server will not start. I really would like to get rid of the mod, there certain things we do on this server that won't work with out the animals (specifically chickens) works.

[2018-11-11 01:32] Tschipp commented on #211
What exactly do you mean? Can you post the entire log?

[2018-11-11 01:33] Tschipp commented on #210
Yes, noticed this too. You can see this issue if you enable bounding boxes (F3 + B) and rejoin your world. You will see animals shift their hitboxes, which causes them to glitch through the walls

[2018-11-11 02:58] njtxus opened #212 "pigs and ancient warfare farms"
### Expected Behavior
ancient warfare farms to harvest pigs.

### Actual Behavior
they are ignored
cows, sheep, and chickens work fine.
### Steps to Reproduce

### Version of Minecraft, version of Animania, Single Player or Server
12.2 animania 1602

### Screenshots encouraged

[2018-11-11 04:53] njtxus commented on #212
minecolonies is the same way. all other animals are recognized accept the pigs.

[2018-11-11 10:32] Tschipp commented on #212
One possible solution for this is to make pigs extend EntityPig @capnkirok

[2018-11-11 19:40] MidoriMushrooms commented on #168
Hi. Getting the same issue on my server as well. TPS tanks to below 7 and we traced the problem back to animania. https://pastebin.com/GcNqhSDm

Running Animania 1.0.6.2, Forge 2768

[2018-11-12 04:56] mser7 commented on #209
Thank you, having my one piece of wheat deleted really bother me.

[2018-11-12 05:32] shinyyraichu opened #213 "Generating new config file with 1.6.0.2 Drops missing"
After deleting the config file from 1.5.1.1 and generating a new one with 1.6.0.2, the drops section no longer generates. Drops shows up again after deleting config from 1.6.0.2 and readding 1.5.1.1 version.

[2018-11-12 13:40] Tschipp commented on #213
Drops are no longer configurable using the config file. We use loottables now.

[2018-11-12 13:40] #213 closed, assigned to nobody

[2018-11-12 17:13] Hubry commented on #192
Animania wants to load before TE and after Quark, BWM wants to load after TE and before Quark. My question is: why does Animania want to load between those mods?

Looks like the reason for Quark is the dispenser thing, but Quark already disables its dispenser behavior for seeds if Animania is detected. The reason for TE is morbs, but I'm not entirely sure that's actually necessary to declare. I th

[2018-11-13 09:49] Tschipp commented on #192
Yes, I've been looking into it and I've come to the same conclusion.

[2018-11-13 09:50] Tschipp commented on #193
Is this a problem with the latest version? Did you modify the config?

[2018-11-13 09:53] Tschipp commented on #190
I'm gonna increase the max animal range to 30 blocks. That means if the entity count in a 30 block radius of an entity exceeds the config value (20 by default), the animal will not breed.

[2018-11-13 09:57] Tschipp commented on #195
Yeah, I agree with Deshiba, I only included Pam's because it's so massive and most commonly used.

[2018-11-13 09:57] #195 closed, assigned to nobody

[2018-11-13 10:01] #186 closed, assigned to nobody

[2018-11-13 11:56] OreCruncher commented on #193
It was the one posted before the latest.  And I haven't touched the config.  I will try with the latest posted to CurseForge to see.  Does Animania use a FakePlayer to break the seed block?

[2018-11-13 12:53] OreCruncher commented on #193
I tested with 1.6.0.2 and it appears to be working. Hmm is right. :)  Going to close.  If I have any further issues I will let you know.  Thanks!

[2018-11-13 12:53] #193 closed, assigned to nobody

[2018-11-13 14:06] OreCruncher commented on #187
A recommendation I have is to put those interfaces in a separate API JAR.  As it stands I have to include the entirety of the Animania JAR in my build tree to reference the interfaces.  Would be more efficient to have just an API jar that can either be checked into my build tree or pulled from a maven repo.

[2018-11-13 15:11] Tschipp commented on #168
Ok, I think I've *finally* nailed this issue. I tested it with the current build and the tps dropped town to 10. With my updated code it remains at 20 all the time.

[2018-11-13 15:12] Tschipp commented on #187
Yeah, we've had plans on making a maven but just haven't gotten around to do it. It is definitely planned though.

[2018-11-14 05:03] mser7 commented on #209
I will suggest this anyway despite the patch has already been done, why don't you just make the bed item drop if it got replaced by a block, I only hate having my bed being deleted.